Entrega Experimento1 P
[{"id":"a3016942.100b58","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"e1601464.fe0158","type":"tab","label":"Processing Flow","disabled":false,"info":""},{"id":"bf54e738.408258","type":"tab","label":"Dashboard + API Flow","disabled":false,"info":""},{"id":"1df16924.c31ff7","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"8f706f7f.48708","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ff8000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":8,"cy":6,"px":0,"py":0}}},{"id":"96b918f4.e79988","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"dcd057e.b86f6a8","type":"ui_group","z":"","name":"Estado del Deposito","tab":"96b918f4.e79988","disp":true,"width":"32"},{"id":"f7aab59.62d8a48","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"5842ae65.288b6","type":"ui_tab","z":"","name":"Promedio","icon":"dashboard","order":2},{"id":"3cc0f0d4.91d33","type":"ui_group","z":"","name":"Estado Promedio del deposito","tab":"5842ae65.288b6","order":1,"disp":true,"width":"32"},{"id":"3f80a371.7026ac","type":"serial in","z":"a3016942.100b58","name":"Temperature Sensor","serial":"1df16924.c31ff7","x":158,"y":131.0000057220459,"wires":[["1198d37c.be339d","c6cd60fe.cc5f6"]]},{"id":"dcc6c0da.6a258","type":"inject","z":"a3016942.100b58","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":173,"y":248,"wires":[["1a348d2c.91ca03","c7597f9e.6adf7"]]},{"id":"c6cd60fe.cc5f6","type":"function","z":"a3016942.100b58","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[0]), \"unit\": tempUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":449,"y":144,"wires":[["45469088.504e6","d8a1fc6f.99121"]]},{"id":"c7597f9e.6adf7","type":"function","z":"a3016942.100b58","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":422,"y":247,"wires":[["cbfe374e.082b88","d8a1fc6f.99121"]]},{"id":"1a348d2c.91ca03","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":415,"y":196,"wires":[]},{"id":"1198d37c.be339d","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":422,"y":91,"wires":[]},{"id":"45469088.504e6","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":693,"y":178,"wires":[]},{"id":"cbfe374e.082b88","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":689,"y":280,"wires":[]},{"id":"d8a1fc6f.99121","type":"function","z":"a3016942.100b58","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":697,"y":231,"wires":[["22a9bca0.f06354","b9a6a64b.c82658"]]},{"id":"22a9bca0.f06354","type":"udp out","z":"a3016942.100b58","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":935.0000534057617,"y":196.0000114440918,"wires":[]},{"id":"b9a6a64b.c82658","type":"debug","z":"a3016942.100b58","name":"after Merge","active":false,"console":"false","complete":"payload","x":911,"y":280,"wires":[]},{"id":"186d207f.a7fdc","type":"udp in","z":"e1601464.fe0158","name":"UDP incoming temperature","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":216.25003814697266,"y":162.51734733581543,"wires":[["82737ba4.061798","2b89244e.86582c"]]},{"id":"82737ba4.061798","type":"debug","z":"e1601464.fe0158","name":"incoming data","active":false,"console":"false","complete":"payload","x":429.0834083557129,"y":125.11804103851318,"wires":[]},{"id":"2b89244e.86582c","type":"json","z":"e1601464.fe0158","name":"Format 2 json","pretty":true,"x":431.0764617919922,"y":198.767352104187,"wires":[["fd6965ef.76c698","1d423d83.9793b2"]]},{"id":"fd6965ef.76c698","type":"debug","z":"e1601464.fe0158","name":"JSON format","active":false,"console":"false","complete":"payload","x":621.0648612976074,"y":198.77700757980347,"wires":[]},{"id":"1d423d83.9793b2","type":"function","z":"e1601464.fe0158","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomTemperature\";\n\nreturn res;","outputs":1,"noerr":0,"x":619.9614673190647,"y":264.78393438127307,"wires":[["182c3b8e.929394","b30ffb88.6a9c98"]]},{"id":"9795a79a.bad758","type":"inject","z":"e1601464.fe0158","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":215.51703643798828,"y":354.4135675430298,"wires":[["3f9d8212.ff516e","84a1c42f.104fd8"]]},{"id":"3f9d8212.ff516e","type":"debug","z":"e1601464.fe0158","name":"before format","active":false,"console":"false","complete":"payload","x":418.8464813232422,"y":289.0200614929199,"wires":[]},{"id":"84a1c42f.104fd8","type":"function","z":"e1601464.fe0158","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":426.6242684258355,"y":355.8911968866984,"wires":[["ba32a325.a08df","182c3b8e.929394"]]},{"id":"ba32a325.a08df","type":"debug","z":"e1601464.fe0158","name":"after format","active":false,"console":"false","complete":"payload","x":615.5170288085938,"y":424.5833339691162,"wires":[]},{"id":"182c3b8e.929394","type":"function","z":"e1601464.fe0158","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":838.8427124023438,"y":356.00308895111084,"wires":[["5fc5f1b.cd4fa1","91200776.a4ea98","fe47a8c8.4ef4e8"]]},{"id":"b30ffb88.6a9c98","type":"debug","z":"e1601464.fe0158","name":"after topic","active":false,"console":"false","complete":"payload","x":821.0688018798828,"y":265.19675159454346,"wires":[]},{"id":"5fc5f1b.cd4fa1","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save Tpsec","collection":"temperaturesec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1046.0108680725098,"y":290.8487958908081,"wires":[]},{"id":"91200776.a4ea98","type":"debug","z":"e1601464.fe0158","name":"after merge","active":false,"console":"false","complete":"payload","x":1038.8465881347656,"y":355.06943798065186,"wires":[]},{"id":"fe47a8c8.4ef4e8","type":"link out","z":"e1601464.fe0158","name":"Temp","links":["1b0f524.26d0dae"],"x":984.3943996429443,"y":412.0987539291382,"wires":[]},{"id":"cf896e7.a3a5a9","type":"inject","z":"e1601464.fe0158","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":192.98934936523438,"y":1948.378339767456,"wires":[["74c23758.5c7ff8","8ddbcf4e.c2e0f"]]},{"id":"74c23758.5c7ff8","type":"function","z":"e1601464.fe0158","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 60;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*60*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":431.19615936279297,"y":1935.6051015853882,"wires":[["1c439de9.4ab412","d732a6c7.083308"]]},{"id":"8ddbcf4e.c2e0f","type":"debug","z":"e1601464.fe0158","name":"boolean signal","active":false,"console":"false","complete":"payload","x":431.20386505126953,"y":1987.8851642608643,"wires":[]},{"id":"1c439de9.4ab412","type":"debug","z":"e1601464.fe0158","name":"query signal","active":false,"console":"false","complete":"payload","x":660.0850791931152,"y":1935.6591310501099,"wires":[]},{"id":"d732a6c7.083308","type":"mongodb in","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Find Tsec","collection":"temperaturesec","operation":"find","x":639.1282730102539,"y":1998.1977014541626,"wires":[["7396e6b0.5a7718","6539f815.1bb268"]]},{"id":"7396e6b0.5a7718","type":"debug","z":"e1601464.fe0158","name":"query result","active":false,"console":"false","complete":"payload","x":860.2279052734375,"y":1996.0912427902222,"wires":[]},{"id":"6539f815.1bb268","type":"function","z":"e1601464.fe0158","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":888.9855541653103,"y":1940.3118759791055,"wires":[["558b55c9.32b3ac","606554b5.e481cc","697cc7af.1d5db8"]]},{"id":"697cc7af.1d5db8","type":"debug","z":"e1601464.fe0158","name":"final result","active":false,"console":"false","complete":"payload","x":1113.8428497314453,"y":1937.468641281128,"wires":[]},{"id":"606554b5.e481cc","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save Tmin","collection":"temperatureMin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1123.9817199707031,"y":1993.5371923446655,"wires":[]},{"id":"558b55c9.32b3ac","type":"link out","z":"e1601464.fe0158","name":"Mins tempFlow","links":["6de1083b.1765d8"],"x":1069.8151206970215,"y":2045.512463569641,"wires":[]},{"id":"166eeeeb.cd7111","type":"http in","z":"bf54e738.408258","name":"GET temp/sec/find","url":"/temperature/sec/find","method":"get","upload":false,"swaggerDoc":"","x":173.54167938232422,"y":39,"wires":[["2ee46e5c.5358b2"]]},{"id":"4b319414.f697fc","type":"http in","z":"bf54e738.408258","name":"GET /temp/min/find","url":"/temperature/min/find","method":"get","upload":false,"swaggerDoc":"","x":171.04168319702148,"y":105.25435066223145,"wires":[["af3d6e1f.dedfc"]]},{"id":"2ee46e5c.5358b2","type":"mongodb in","z":"bf54e738.408258","mongodb":"f7aab59.62d8a48","name":"Find Tpsec","collection":"temperaturespsec","operation":"find","x":386.0373840332031,"y":58.27952575683594,"wires":[["b3d2a60f.b1f3c8"]]},{"id":"af3d6e1f.dedfc","type":"mongodb in","z":"bf54e738.408258","mongodb":"f7aab59.62d8a48","name":"Find Tpmin","collection":"temperaturespmin","operation":"find","x":387.28739166259766,"y":127.29863166809082,"wires":[["f2843460.4128c8"]]},{"id":"b3d2a60f.b1f3c8","type":"function","z":"bf54e738.408258","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":594.7960090637207,"y":44.23003578186035,"wires":[["384815f7.4849ca"]]},{"id":"f2843460.4128c8","type":"function","z":"bf54e738.408258","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":594.7874069213867,"y":110.48872566223145,"wires":[["d83ffb0a.e2f998"]]},{"id":"384815f7.4849ca","type":"http response","z":"bf54e738.408258","name":"http find temp/sec","statusCode":"","headers":{},"x":835.0417861938477,"y":64.26216125488281,"wires":[]},{"id":"d83ffb0a.e2f998","type":"http response","z":"bf54e738.408258","name":"http find temp/min","statusCode":"","headers":{},"x":833.537425994873,"y":133.26215648651123,"wires":[]},{"id":"1b0f524.26d0dae","type":"link in","z":"bf54e738.408258","name":"Temp","links":["fe47a8c8.4ef4e8"],"x":119.7873306274414,"y":524.7465362548828,"wires":[["bd59c4bf.969a08","9c880c1b.4d3f3"]]},{"id":"6de1083b.1765d8","type":"link in","z":"bf54e738.408258","name":"Mins tempFlow","links":["558b55c9.32b3ac"],"x":971.5417976379395,"y":476.7292709350586,"wires":[["d9195a2d.587618","ce579df3.095d2"]]},{"id":"bd59c4bf.969a08","type":"debug","z":"bf54e738.408258","name":"temperature/secs","active":false,"console":"false","complete":"payload","x":282.3003578186035,"y":461.6388931274414,"wires":[]},{"id":"d9195a2d.587618","type":"debug","z":"bf54e738.408258","name":"http find temp/mins","active":false,"console":"false","complete":"payload","x":1136.0462341308594,"y":409.3890480995178,"wires":[]},{"id":"9c880c1b.4d3f3","type":"function","z":"bf54e738.408258","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":266.7917289733887,"y":514.1232628822327,"wires":[["aea66309.e6218","e9a77561.afe8b8","d599a63f.3be1e8"],["4145d72c.80adf8","9583521b.38eac"]]},{"id":"ce579df3.095d2","type":"function","z":"bf54e738.408258","name":"Format 4 Mins","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.sensetime;\ntemp = input.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":1127.8004760742188,"y":461.36901092529297,"wires":[["c38bf6eb.acb688","ecdd1611.a674a8","1c23ca5d.783bd6"],["cb73342e.f0a678","c521dfb3.8c78f"]]},{"id":"293a15dc.292b3a","type":"http in","z":"bf54e738.408258","name":"GET temp/sec/count","url":"/temperature/sec/count","method":"get","upload":false,"swaggerDoc":"","x":168.11974334716797,"y":176.86107444763184,"wires":[["f5828090.b97e3"]]},{"id":"7957572d.618fd8","type":"http in","z":"bf54e738.408258","name":"GET /temp/min/count","url":"/temperature/min/count","method":"get","upload":false,"swaggerDoc":"","x":179.36975479125977,"y":248.11543464660645,"wires":[["93d693b5.28112"]]},{"id":"f5828090.b97e3","type":"mongodb in","z":"bf54e738.408258","mongodb":"f7aab59.62d8a48","name":"Count Tpsec","collection":"temperaturespsec","operation":"count","x":384.3654556274414,"y":201.14060974121094,"wires":[["965687f4.234ef8"]]},{"id":"93d693b5.28112","type":"mongodb in","z":"bf54e738.408258","mongodb":"f7aab59.62d8a48","name":"Count Tpmin","collection":"temperaturespmin","operation":"count","x":385.61546325683594,"y":270.1597156524658,"wires":[["5f8f15c4.1fea3c"]]},{"id":"965687f4.234ef8","type":"function","z":"bf54e738.408258","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":593.124080657959,"y":187.09111976623535,"wires":[["efaea0aa.a149b"]]},{"id":"5f8f15c4.1fea3c","type":"function","z":"bf54e738.408258","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":593.115478515625,"y":253.34980964660645,"wires":[["9a57da29.302d88"]]},{"id":"efaea0aa.a149b","type":"http response","z":"bf54e738.408258","name":"http count temp/sec","statusCode":"","headers":{},"x":834.3698081970215,"y":206.1232452392578,"wires":[]},{"id":"9a57da29.302d88","type":"http response","z":"bf54e738.408258","name":"http count temp/min","statusCode":"","headers":{},"x":830.9563903808594,"y":271.577787399292,"wires":[]},{"id":"aea66309.e6218","type":"debug","z":"bf54e738.408258","name":"Temperature","active":false,"console":"false","complete":"payload","x":579.6615676879883,"y":400.1563262939453,"wires":[]},{"id":"e9a77561.afe8b8","type":"ui_chart","z":"bf54e738.408258","name":"Temperature Min Chart","group":"dcd057e.b86f6a8","order":1,"width":"8","height":"6","label":"Historico de Temperatura [min]","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"Sin datos!!","dot":false,"ymin":"0","ymax":"40","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":608.4027824401855,"y":438.6719207763672,"wires":[[],[]]},{"id":"d599a63f.3be1e8","type":"ui_gauge","z":"bf54e738.408258","name":"Instant Sec Temperature","group":"dcd057e.b86f6a8","order":2,"width":"8","height":"6","gtype":"gage","title":"Temperatura Actual","label":"C째","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":618.8942260742188,"y":478.4071502685547,"wires":[]},{"id":"4145d72c.80adf8","type":"ui_text","z":"bf54e738.408258","group":"dcd057e.b86f6a8","order":5,"width":"16","height":"1","name":"Sense Time","label":"Tiempo Temperatura/sec","format":"{{msg.payload}}","layout":"col-center","x":578.6615524291992,"y":515.6554164886475,"wires":[]},{"id":"9583521b.38eac","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":579.3942184448242,"y":556.3932666778564,"wires":[]},{"id":"c38bf6eb.acb688","type":"debug","z":"bf54e738.408258","name":"Temperature","active":false,"console":"false","complete":"payload","x":1421.481014251709,"y":391.7500915527344,"wires":[]},{"id":"ecdd1611.a674a8","type":"ui_chart","z":"bf54e738.408258","name":"Temperature Min Chart","group":"3cc0f0d4.91d33","order":1,"width":"8","height":"6","label":"Historico de Temperatura[min]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Sin datos!","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1452.2222328186035,"y":429.26580238342285,"wires":[[],[]]},{"id":"1c23ca5d.783bd6","type":"ui_gauge","z":"bf54e738.408258","name":"Instant Min Temperature","group":"3cc0f0d4.91d33","order":2,"width":"8","height":"6","gtype":"gage","title":"Temperatura Promedio","label":"째C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1462.9637031555176,"y":466.7509517669678,"wires":[]},{"id":"cb73342e.f0a678","type":"ui_text","z":"bf54e738.408258","group":"3cc0f0d4.91d33","order":5,"width":"16","height":"1","name":"Sense Timepmin","label":"Tiempo Temperatura/min","format":"{{msg.payload}}","layout":"col-center","x":1441.4810066223145,"y":506.2492046356201,"wires":[]},{"id":"c521dfb3.8c78f","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":1421.7136116027832,"y":546.7370548248291,"wires":[]},{"id":"ad203abe.fe1da8","type":"serial in","z":"a3016942.100b58","name":"Noice Sensor","serial":"1df16924.c31ff7","x":132.5078125,"y":434.5234375,"wires":[["f88ebb6.5a1e748","3b1f4312.e529ec"]]},{"id":"8db345e5.5fd998","type":"inject","z":"a3016942.100b58","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":166.5078125,"y":539.5234375,"wires":[["50b755e.5feb5ac","110e6e47.c710b2"]]},{"id":"3b1f4312.e529ec","type":"function","z":"a3016942.100b58","name":"Format Noice","func":"var res = {};\nvar tempArray = [];\nvar noiceUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nnoiceUnit = tempArray[3].replace(\"\\r\\n\", \"\");\nres.topic = \"roomNoice\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[2]), \"unit\": noiceUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":422.5078125,"y":435.5234375,"wires":[["c365fc88.3eae6","a830f72a.a0aed8"]]},{"id":"110e6e47.c710b2","type":"function","z":"a3016942.100b58","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":415.5078125,"y":538.5234375,"wires":[["d530fcb8.72942","a830f72a.a0aed8"]]},{"id":"50b755e.5feb5ac","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":408.5078125,"y":487.5234375,"wires":[]},{"id":"f88ebb6.5a1e748","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":415.5078125,"y":382.5234375,"wires":[]},{"id":"c365fc88.3eae6","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":686.5078125,"y":469.5234375,"wires":[]},{"id":"d530fcb8.72942","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":682.5078125,"y":571.5234375,"wires":[]},{"id":"a830f72a.a0aed8","type":"function","z":"a3016942.100b58","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoice\":\n        context.data.noice = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.noice != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomNoice\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":690.5078125,"y":522.5234375,"wires":[["986f5f85.f35ba","f4c6394f.3f79d8"]]},{"id":"986f5f85.f35ba","type":"udp out","z":"a3016942.100b58","name":"Send Noice","addr":"localhost","iface":"","port":"6001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":904.5078125,"y":505.5234375,"wires":[]},{"id":"f4c6394f.3f79d8","type":"debug","z":"a3016942.100b58","name":"after Merge","active":false,"console":"false","complete":"payload","x":904.5078125,"y":571.5234375,"wires":[]},{"id":"c1313d01.0369d","type":"udp in","z":"e1601464.fe0158","name":"UDP incoming noice","iface":"","port":"6001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":203.25787734985352,"y":517.5234231948853,"wires":[["97abad58.dfb43","cc11a1e7.9f821"]]},{"id":"97abad58.dfb43","type":"debug","z":"e1601464.fe0158","name":"incoming data","active":false,"console":"false","complete":"payload","x":409.9176254272461,"y":519.124119758606,"wires":[]},{"id":"cc11a1e7.9f821","type":"json","z":"e1601464.fe0158","name":"Format 2 json","pretty":true,"x":411.9106788635254,"y":592.7734308242798,"wires":[["271651d9.6a759e","b845361.81600c8"]]},{"id":"271651d9.6a759e","type":"debug","z":"e1601464.fe0158","name":"JSON format","active":false,"console":"false","complete":"payload","x":601.8990783691406,"y":592.7830862998962,"wires":[]},{"id":"b845361.81600c8","type":"function","z":"e1601464.fe0158","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomNoice\";\n\nreturn res;","outputs":1,"noerr":0,"x":600.7956843905979,"y":658.7900131013658,"wires":[["66072aeb.e842d4","4f28afa1.fc99b"]]},{"id":"47e4bcdc.bcf594","type":"inject","z":"e1601464.fe0158","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":196.35125350952148,"y":748.4196462631226,"wires":[["ce0a9920.623c98","f39dc4d6.6e9c58"]]},{"id":"ce0a9920.623c98","type":"debug","z":"e1601464.fe0158","name":"before format","active":false,"console":"false","complete":"payload","x":399.6806983947754,"y":683.0261402130127,"wires":[]},{"id":"f39dc4d6.6e9c58","type":"function","z":"e1601464.fe0158","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":407.45848549736866,"y":749.8972756067913,"wires":[["c3948eb8.2a04d","66072aeb.e842d4"]]},{"id":"c3948eb8.2a04d","type":"debug","z":"e1601464.fe0158","name":"after format","active":false,"console":"false","complete":"payload","x":596.351245880127,"y":818.589412689209,"wires":[]},{"id":"66072aeb.e842d4","type":"function","z":"e1601464.fe0158","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoice\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomNoice\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":819.676929473877,"y":750.0091676712036,"wires":[["92149538.cc8318","affbd0e6.cbd7d","cf67fe1.7c55a"]]},{"id":"4f28afa1.fc99b","type":"debug","z":"e1601464.fe0158","name":"after topic","active":false,"console":"false","complete":"payload","x":801.903018951416,"y":659.2028303146362,"wires":[]},{"id":"92149538.cc8318","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save Nsec","collection":"noicesec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1026.845085144043,"y":684.8548746109009,"wires":[]},{"id":"affbd0e6.cbd7d","type":"debug","z":"e1601464.fe0158","name":"after merge","active":false,"console":"false","complete":"payload","x":1019.6808052062988,"y":749.0755167007446,"wires":[]},{"id":"cf67fe1.7c55a","type":"link out","z":"e1601464.fe0158","name":"Noice","links":["6ef27bfa.b2c9c4"],"x":965.2286167144775,"y":806.104832649231,"wires":[]},{"id":"6ef27bfa.b2c9c4","type":"link in","z":"bf54e738.408258","name":"Noice","links":["cf67fe1.7c55a"],"x":110.5078125,"y":745.5234375,"wires":[["ce29a19.bd22b6","488902de.abdcdc"]]},{"id":"ce29a19.bd22b6","type":"debug","z":"bf54e738.408258","name":"noice/2min","active":false,"console":"false","complete":"payload","x":253.0208396911621,"y":682.4157943725586,"wires":[]},{"id":"488902de.abdcdc","type":"function","z":"bf54e738.408258","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar noice = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\nnoices = input.room.noice.data;\n\nres1.payload = noices;\nres1.topic = \"noice\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":260.51219940185547,"y":733.90016746521,"wires":[["6f5fb2e3.a328cc","4c01be44.bc615","3c1d8b3d.f49f34"],["2828b0ed.7b68b","f0fc1dfe.04ccf"]]},{"id":"6f5fb2e3.a328cc","type":"debug","z":"bf54e738.408258","name":"Noice","active":false,"console":"false","complete":"payload","x":550.3820495605469,"y":620.9332275390625,"wires":[]},{"id":"4c01be44.bc615","type":"ui_chart","z":"bf54e738.408258","name":"Noice 2Min Chart","group":"dcd057e.b86f6a8","order":3,"width":"8","height":"6","label":"Historico de Ruido [2min]","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"Sin datos!!","dot":false,"ymin":"50","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":589.1232643127441,"y":659.4488220214844,"wires":[[],[]]},{"id":"3c1d8b3d.f49f34","type":"ui_gauge","z":"bf54e738.408258","name":"Min Noice","group":"dcd057e.b86f6a8","order":4,"width":"8","height":"6","gtype":"gage","title":"Nivel de ruido actual","label":"db","format":"{{value}}","min":"50","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":559.6147079467773,"y":699.1840515136719,"wires":[]},{"id":"2828b0ed.7b68b","type":"ui_text","z":"bf54e738.408258","group":"dcd057e.b86f6a8","order":6,"width":"16","height":"1","name":"Sense Time","label":"Tiempo Ruido/min","format":"{{msg.payload}}","layout":"col-center","x":569.3820343017578,"y":736.4323177337646,"wires":[]},{"id":"f0fc1dfe.04ccf","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":570.1147003173828,"y":777.1701679229736,"wires":[]},{"id":"b14b7554.136ae8","type":"serial in","z":"a3016942.100b58","name":"Carbon dioxide Sensor","serial":"1df16924.c31ff7","x":183.5078125,"y":754.5234375,"wires":[["452da8ed.fa8c98","b0f9a215.f5cbb"]]},{"id":"5c5b0c92.3b0b24","type":"inject","z":"a3016942.100b58","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":187.5078125,"y":859.5234375,"wires":[["b2568936.1b6e38","fe66696c.66a5c8"]]},{"id":"b0f9a215.f5cbb","type":"function","z":"a3016942.100b58","name":"Format carbon dioxide","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ndioxideUnit = tempArray[5].replace(\"\\r\\n\", \"\");\nres.topic = \"roomCarbonDioxide\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[4]), \"unit\": dioxideUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":463.5078125,"y":755.5234375,"wires":[["55767d0f.57f074","8b1b63d6.efa31"]]},{"id":"fe66696c.66a5c8","type":"function","z":"a3016942.100b58","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":436.5078125,"y":858.5234375,"wires":[["d6bd9b4c.216518","8b1b63d6.efa31"]]},{"id":"b2568936.1b6e38","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":429.5078125,"y":807.5234375,"wires":[]},{"id":"452da8ed.fa8c98","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":436.5078125,"y":702.5234375,"wires":[]},{"id":"55767d0f.57f074","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":707.5078125,"y":789.5234375,"wires":[]},{"id":"d6bd9b4c.216518","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":703.5078125,"y":891.5234375,"wires":[]},{"id":"8b1b63d6.efa31","type":"function","z":"a3016942.100b58","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomCarbonDioxide\":\n        context.data.carbonDioxide = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.carbonDioxide != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomCarbonDioxide\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":711.5078125,"y":842.5234375,"wires":[["bc6d1f8e.514c2","dfbbc89a.4a65e8"]]},{"id":"bc6d1f8e.514c2","type":"udp out","z":"a3016942.100b58","name":"Send Carbon Dioxide","addr":"localhost","iface":"","port":"6002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":955.5078125,"y":825.5234375,"wires":[]},{"id":"dfbbc89a.4a65e8","type":"debug","z":"a3016942.100b58","name":"after Merge","active":false,"console":"false","complete":"payload","x":925.5078125,"y":891.5234375,"wires":[]},{"id":"41556640.a960e8","type":"serial in","z":"a3016942.100b58","name":"Ilumination Sensor","serial":"1df16924.c31ff7","x":206.5078125,"y":1091.5234375,"wires":[["c5819a4d.54c208","5a95f357.6e162c"]]},{"id":"aa045657.2f6d08","type":"inject","z":"a3016942.100b58","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":220.5078125,"y":1196.5234375,"wires":[["dde4fc0d.a67a5","3fc0955c.73dfea"]]},{"id":"5a95f357.6e162c","type":"function","z":"a3016942.100b58","name":"Format Ilumination","func":"var res = {};\nvar tempArray = [];\nvar iluminationUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\niluminationUnit = tempArray[7].replace(\"\\r\\n\", \"\");\nres.topic = \"roomIlumination\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[6]), \"unit\": iluminationUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":486.5078125,"y":1092.5234375,"wires":[["d2583624.f35cc8","6b5fda2c.460f24"]]},{"id":"3fc0955c.73dfea","type":"function","z":"a3016942.100b58","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":469.5078125,"y":1195.5234375,"wires":[["391ed9ca.92f746","6b5fda2c.460f24"]]},{"id":"dde4fc0d.a67a5","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":462.5078125,"y":1144.5234375,"wires":[]},{"id":"c5819a4d.54c208","type":"debug","z":"a3016942.100b58","name":"before format","active":false,"console":"false","complete":"payload","x":469.5078125,"y":1039.5234375,"wires":[]},{"id":"d2583624.f35cc8","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":740.5078125,"y":1126.5234375,"wires":[]},{"id":"391ed9ca.92f746","type":"debug","z":"a3016942.100b58","name":"after Format","active":false,"console":"false","complete":"payload","x":736.5078125,"y":1228.5234375,"wires":[]},{"id":"6b5fda2c.460f24","type":"function","z":"a3016942.100b58","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.ilumination = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.ilumination != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomIlumination\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":744.5078125,"y":1179.5234375,"wires":[["2901cbe1.955aa4","99d879c4.0c76b8"]]},{"id":"2901cbe1.955aa4","type":"udp out","z":"a3016942.100b58","name":"Send Ilumination","addr":"localhost","iface":"","port":"6003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":978.5078125,"y":1162.5234375,"wires":[]},{"id":"99d879c4.0c76b8","type":"debug","z":"a3016942.100b58","name":"after Merge","active":false,"console":"false","complete":"payload","x":958.5078125,"y":1228.5234375,"wires":[]},{"id":"70aca3a1.26712c","type":"udp in","z":"e1601464.fe0158","name":"UDP incoming carbon dioxide","iface":"","port":"6002","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":173.7578125,"y":949.773416519165,"wires":[["e4602f5b.11c9","b2946b71.ad3538"]]},{"id":"e4602f5b.11c9","type":"debug","z":"e1601464.fe0158","name":"incoming data","active":false,"console":"false","complete":"payload","x":398.4175605773926,"y":930.3740844726562,"wires":[]},{"id":"b2946b71.ad3538","type":"json","z":"e1601464.fe0158","name":"Format 2 json","pretty":true,"x":400.4106140136719,"y":1004.0233955383301,"wires":[["e120b608.d80598","97219eb3.dd128"]]},{"id":"e120b608.d80598","type":"debug","z":"e1601464.fe0158","name":"JSON format","active":false,"console":"false","complete":"payload","x":590.3990135192871,"y":1004.0330510139465,"wires":[]},{"id":"97219eb3.dd128","type":"function","z":"e1601464.fe0158","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomCarbonDioxide\";\n\nreturn res;","outputs":1,"noerr":0,"x":589.2956195407444,"y":1070.039977815416,"wires":[["41fbbe96.b22d","cbcd7aca.4105f8"]]},{"id":"1bd6aecc.dea731","type":"inject","z":"e1601464.fe0158","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":184.85118865966797,"y":1159.6696109771729,"wires":[["1917fd2f.a3e373","77610aef.20c664"]]},{"id":"1917fd2f.a3e373","type":"debug","z":"e1601464.fe0158","name":"before format","active":false,"console":"false","complete":"payload","x":388.1806335449219,"y":1094.276104927063,"wires":[]},{"id":"77610aef.20c664","type":"function","z":"e1601464.fe0158","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":395.95842064751514,"y":1161.1472403208415,"wires":[["cdebacf.532a95","41fbbe96.b22d"]]},{"id":"cdebacf.532a95","type":"debug","z":"e1601464.fe0158","name":"after format","active":false,"console":"false","complete":"payload","x":584.8511810302734,"y":1229.8393774032593,"wires":[]},{"id":"41fbbe96.b22d","type":"function","z":"e1601464.fe0158","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomCarbonDioxide\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomCarbonDioxide\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":808.1768646240234,"y":1161.259132385254,"wires":[["6d345dc3.693fb4","72909a29.3b6a34","9f1e36ba.f8d468"]]},{"id":"cbcd7aca.4105f8","type":"debug","z":"e1601464.fe0158","name":"after topic","active":false,"console":"false","complete":"payload","x":790.4029541015625,"y":1070.4527950286865,"wires":[]},{"id":"6d345dc3.693fb4","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save CDsec","collection":"carbonsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1015.3450202941895,"y":1096.1048393249512,"wires":[]},{"id":"72909a29.3b6a34","type":"debug","z":"e1601464.fe0158","name":"after merge","active":false,"console":"false","complete":"payload","x":1008.1807403564453,"y":1160.325481414795,"wires":[]},{"id":"9f1e36ba.f8d468","type":"link out","z":"e1601464.fe0158","name":"CD","links":["cc50a1b6.00f4"],"x":953.728551864624,"y":1217.3547973632812,"wires":[]},{"id":"10f4f107.ebf19f","type":"udp in","z":"e1601464.fe0158","name":"UDP incoming ilumination","iface":"","port":"6003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":161.5078125,"y":1348.5232973098755,"wires":[["346ff018.7a971","66c898b1.3bb448"]]},{"id":"346ff018.7a971","type":"debug","z":"e1601464.fe0158","name":"incoming data","active":false,"console":"false","complete":"payload","x":419.1675605773926,"y":1338.1240119934082,"wires":[]},{"id":"66c898b1.3bb448","type":"json","z":"e1601464.fe0158","name":"Format 2 json","pretty":true,"x":421.1606140136719,"y":1411.773323059082,"wires":[["56cdf13a.1d96f","ad1ea463.d24908"]]},{"id":"56cdf13a.1d96f","type":"debug","z":"e1601464.fe0158","name":"JSON format","active":false,"console":"false","complete":"payload","x":611.1490135192871,"y":1411.7829785346985,"wires":[]},{"id":"ad1ea463.d24908","type":"function","z":"e1601464.fe0158","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomIlumination\";\n\nreturn res;","outputs":1,"noerr":0,"x":610.0456195407444,"y":1477.789905336168,"wires":[["9da04a29.6a9348","59417dd1.e142c4"]]},{"id":"1baa2388.8165bc","type":"inject","z":"e1601464.fe0158","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":205.60118865966797,"y":1567.4195384979248,"wires":[["c9c326b1.c64ed8","aa4849f8.5336a8"]]},{"id":"c9c326b1.c64ed8","type":"debug","z":"e1601464.fe0158","name":"before format","active":false,"console":"false","complete":"payload","x":408.9306335449219,"y":1502.026032447815,"wires":[]},{"id":"aa4849f8.5336a8","type":"function","z":"e1601464.fe0158","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":416.70842064751514,"y":1568.8971678415935,"wires":[["1e2a4c7f.4bb114","9da04a29.6a9348"]]},{"id":"1e2a4c7f.4bb114","type":"debug","z":"e1601464.fe0158","name":"after format","active":false,"console":"false","complete":"payload","x":605.6011810302734,"y":1637.5893049240112,"wires":[]},{"id":"9da04a29.6a9348","type":"function","z":"e1601464.fe0158","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomIlumination\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":828.9268646240234,"y":1569.0090599060059,"wires":[["b7c37801.83d6e8","7e5e04c6.b402cc","fabf43a3.e4815"]]},{"id":"59417dd1.e142c4","type":"debug","z":"e1601464.fe0158","name":"after topic","active":false,"console":"false","complete":"payload","x":811.1529541015625,"y":1478.2027225494385,"wires":[]},{"id":"b7c37801.83d6e8","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save Isec","collection":"Iluminationsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1026.0950202941895,"y":1503.8547668457031,"wires":[]},{"id":"7e5e04c6.b402cc","type":"debug","z":"e1601464.fe0158","name":"after merge","active":false,"console":"false","complete":"payload","x":1028.9307403564453,"y":1568.0754089355469,"wires":[]},{"id":"fabf43a3.e4815","type":"link out","z":"e1601464.fe0158","name":"Ilumination","links":["f5e5a6ce.fb8e48"],"x":974.478551864624,"y":1625.1047248840332,"wires":[]},{"id":"cc50a1b6.00f4","type":"link in","z":"bf54e738.408258","name":"CD","links":["9f1e36ba.f8d468"],"x":116.5078125,"y":971.5233764648438,"wires":[["312d7ca6.e744d4","3276c7ad.bebc68"]]},{"id":"312d7ca6.e744d4","type":"debug","z":"bf54e738.408258","name":"dioxide carbon/min","active":false,"console":"false","complete":"payload","x":279.0208396911621,"y":908.4157333374023,"wires":[]},{"id":"3276c7ad.bebc68","type":"function","z":"bf54e738.408258","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar carbonDioxide = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ncarbon = input.room.carbonDioxide.data;\n\nres1.payload = carbon;\nres1.topic = \"carbonDioxide\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":266.51219940185547,"y":959.9001064300537,"wires":[["bc989755.2fd318","9ba1b818.197ea8","e11561c6.71e23"],["6c5266a2.a27318","f041c304.91ec4"]]},{"id":"bc989755.2fd318","type":"debug","z":"bf54e738.408258","name":"Carbon Dioxide","active":false,"console":"false","complete":"payload","x":586.3820495605469,"y":846.9331665039062,"wires":[]},{"id":"9ba1b818.197ea8","type":"ui_chart","z":"bf54e738.408258","name":"Dioxide carbon Min Chart","group":"dcd057e.b86f6a8","order":7,"width":"8","height":"6","label":"Historico de Mon처xido de Carbono [min]","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"Sin datos!!","dot":false,"ymin":"0","ymax":"400","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":615.1232643127441,"y":885.4487609863281,"wires":[[],[]]},{"id":"e11561c6.71e23","type":"ui_gauge","z":"bf54e738.408258","name":"Min Carbon dioxide","group":"dcd057e.b86f6a8","order":8,"width":"8","height":"6","gtype":"gage","title":"Nivel de mon처xido de carbono actual","label":"ppm","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":597.6147766113281,"y":922.1840600967407,"wires":[]},{"id":"6c5266a2.a27318","type":"ui_text","z":"bf54e738.408258","group":"dcd057e.b86f6a8","order":11,"width":"16","height":"1","name":"Sense Time","label":"Tiempo Dioxido de carbono/min","format":"{{msg.payload}}","layout":"col-center","x":575.3820343017578,"y":962.4322566986084,"wires":[]},{"id":"f041c304.91ec4","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":576.1147003173828,"y":1003.1701068878174,"wires":[]},{"id":"f5e5a6ce.fb8e48","type":"link in","z":"bf54e738.408258","name":"Ilumination","links":["fabf43a3.e4815"],"x":114.5078125,"y":1205.5234375,"wires":[["3908616d.1ca95e","ddd9a6d7.680388"]]},{"id":"3908616d.1ca95e","type":"debug","z":"bf54e738.408258","name":"ilumination/2min","active":false,"console":"false","complete":"payload","x":267.0208396911621,"y":1142.4157943725586,"wires":[]},{"id":"ddd9a6d7.680388","type":"function","z":"bf54e738.408258","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar ilumination = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\nilum = input.room.ilumination.data;\n\nres1.payload = ilum;\nres1.topic = \"ilumination\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":264.51219940185547,"y":1193.90016746521,"wires":[["6ccf89e9.f9c0c8","945f1004.70de6","185461de.316c8e"],["dd254eb8.e08d1","ef7d0134.fb1ab"]]},{"id":"6ccf89e9.f9c0c8","type":"debug","z":"bf54e738.408258","name":"Ilumination","active":false,"console":"false","complete":"payload","x":574.3820495605469,"y":1080.9332275390625,"wires":[]},{"id":"945f1004.70de6","type":"ui_chart","z":"bf54e738.408258","name":"Ilumination 2Min Chart","group":"dcd057e.b86f6a8","order":9,"width":"8","height":"6","label":"Historico de Iluminacion [2min]","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"Sin datos!!","dot":false,"ymin":"50","ymax":"600","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":603.1232643127441,"y":1119.4488220214844,"wires":[[],[]]},{"id":"185461de.316c8e","type":"ui_gauge","z":"bf54e738.408258","name":"2Min Ilumination","group":"dcd057e.b86f6a8","order":10,"width":"8","height":"6","gtype":"gage","title":"Nivel de ilumination","label":"lux","format":"{{value}}","min":"50","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":583.6147079467773,"y":1159.1840515136719,"wires":[]},{"id":"dd254eb8.e08d1","type":"ui_text","z":"bf54e738.408258","group":"dcd057e.b86f6a8","order":12,"width":"16","height":"1","name":"Sense Time","label":"Tiempo Ilumination/min","format":"{{msg.payload}}","layout":"col-center","x":573.3820343017578,"y":1196.4323177337646,"wires":[]},{"id":"ef7d0134.fb1ab","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":574.1147003173828,"y":1237.1701679229736,"wires":[]},{"id":"8d466158.ae8ee","type":"link in","z":"bf54e738.408258","name":"Mins noiceFlow","links":["9ab9eda5.0f5ee"],"x":964.3847045898438,"y":697.5292358398438,"wires":[["4cc76ed5.c3f3","1a1b88a.da60877"]]},{"id":"4cc76ed5.c3f3","type":"debug","z":"bf54e738.408258","name":"http find noice/mins","active":false,"console":"false","complete":"payload","x":1131.8890342712402,"y":633.1889877319336,"wires":[]},{"id":"1a1b88a.da60877","type":"function","z":"bf54e738.408258","name":"Format 4 Mins","func":"var input = msg.payload;\nvar time = null;\nvar noice = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.sensetime;\ntemp = input.noice.data;\n\nres1.payload = temp;\nres1.topic = \"noice\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":1120.643383026123,"y":682.1689758300781,"wires":[["1f07ff30.7c1391","f8cd3bc2.f68218","35709736.fda858"],["e46f16c4.ed0908","a99f9409.214f08"]]},{"id":"1f07ff30.7c1391","type":"debug","z":"bf54e738.408258","name":"Noice","active":false,"console":"false","complete":"payload","x":1394.3239212036133,"y":612.5500564575195,"wires":[]},{"id":"f8cd3bc2.f68218","type":"ui_chart","z":"bf54e738.408258","name":"Noice Min Chart","group":"3cc0f0d4.91d33","order":3,"width":"8","height":"6","label":"Historico de Ruido [2min]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Sin datos!","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1425.0651397705078,"y":650.065767288208,"wires":[[],[]]},{"id":"35709736.fda858","type":"ui_gauge","z":"bf54e738.408258","name":"Instant Min Noice","group":"3cc0f0d4.91d33","order":4,"width":"8","height":"6","gtype":"gage","title":"Ruido Promedio","label":"dB","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1435.8066101074219,"y":687.5509166717529,"wires":[]},{"id":"e46f16c4.ed0908","type":"ui_text","z":"bf54e738.408258","group":"3cc0f0d4.91d33","order":6,"width":"16","height":"1","name":"Sense Timepmin","label":"Tiempo Ruido/2min","format":"{{msg.payload}}","layout":"col-center","x":1434.3239135742188,"y":727.0491695404053,"wires":[]},{"id":"a99f9409.214f08","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":1414.5565185546875,"y":767.5370197296143,"wires":[]},{"id":"3a831b67.26a624","type":"link in","z":"bf54e738.408258","name":"Mins carbonFlow","links":["fa6c321.4f18cd"],"x":960.6347045898438,"y":912.5292358398438,"wires":[["bdf9f195.ad762","8c2567de.0504b8"]]},{"id":"bdf9f195.ad762","type":"debug","z":"bf54e738.408258","name":"http find carbon/mins","active":false,"console":"false","complete":"payload","x":1138.1390342712402,"y":848.1889877319336,"wires":[]},{"id":"8c2567de.0504b8","type":"function","z":"bf54e738.408258","name":"Format 4 Mins","func":"var input = msg.payload;\nvar time = null;\nvar carbonDioxide = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.sensetime;\ntemp = input.carbonDioxide.data;\n\nres1.payload = temp;\nres1.topic = \"carbonDioxide\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":1116.893383026123,"y":897.1689758300781,"wires":[["d8c7db92.338d18","90de46f.d89b4b8","d7645b58.9abd48"],["99ac73eb.9e6d1","3885a714.ab39b8"]]},{"id":"d8c7db92.338d18","type":"debug","z":"bf54e738.408258","name":"Carbon Monoxide","active":false,"console":"false","complete":"payload","x":1430.5739212036133,"y":827.5500564575195,"wires":[]},{"id":"90de46f.d89b4b8","type":"ui_chart","z":"bf54e738.408258","name":"Carbon Monoxide Min Chart","group":"3cc0f0d4.91d33","order":7,"width":"8","height":"6","label":"Historico de Mon처xido de carbono [min]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Sin datos!","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1461.3151397705078,"y":865.065767288208,"wires":[[],[]]},{"id":"d7645b58.9abd48","type":"ui_gauge","z":"bf54e738.408258","name":"Instant Min Carbon Monoxide","group":"3cc0f0d4.91d33","order":8,"width":"8","height":"6","gtype":"gage","title":"Mon처xido de carbono Promedio","label":"ppm","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1462.0566101074219,"y":902.5509166717529,"wires":[]},{"id":"99ac73eb.9e6d1","type":"ui_text","z":"bf54e738.408258","group":"3cc0f0d4.91d33","order":11,"width":"16","height":"1","name":"Sense Timepmin","label":"Tiempo Mon처xido de carbono/min","format":"{{msg.payload}}","layout":"col-center","x":1430.5739135742188,"y":942.0491695404053,"wires":[]},{"id":"3885a714.ab39b8","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":1410.8065185546875,"y":982.5370197296143,"wires":[]},{"id":"17dd15e6.67222a","type":"link in","z":"bf54e738.408258","name":"Mins ilumFlow","links":["45973f02.1f8bc"],"x":959.3847045898438,"y":1143.779296875,"wires":[["8e593e5c.dd4ea","886533e9.4afa"]]},{"id":"8e593e5c.dd4ea","type":"debug","z":"bf54e738.408258","name":"http find ilumination/mins","active":false,"console":"false","complete":"payload","x":1106.889144897461,"y":1071.9390888214111,"wires":[]},{"id":"886533e9.4afa","type":"function","z":"bf54e738.408258","name":"Format 4 Mins","func":"var input = msg.payload;\nvar time = null;\nvar ilumination = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.sensetime;\ntemp = input.ilumination.data;\n\nres1.payload = temp;\nres1.topic = \"ilumination\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":"2","noerr":0,"x":1115.643383026123,"y":1128.4190368652344,"wires":[["ad2cfaa7.97f948","f5343dab.f9b6","15e96a67.44acd6"],["5115a74a.b65dd8","e05fa220.674fe"]]},{"id":"ad2cfaa7.97f948","type":"debug","z":"bf54e738.408258","name":"Ilumination","active":false,"console":"false","complete":"payload","x":1409.3239212036133,"y":1058.8001174926758,"wires":[]},{"id":"f5343dab.f9b6","type":"ui_chart","z":"bf54e738.408258","name":"Ilumination Min Chart","group":"3cc0f0d4.91d33","order":9,"width":"8","height":"6","label":"Historico de Iluminaci처n [2min]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Sin datos!","dot":false,"ymin":"0","ymax":"2000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1440.0651397705078,"y":1096.3158283233643,"wires":[[],[]]},{"id":"15e96a67.44acd6","type":"ui_gauge","z":"bf54e738.408258","name":"Instant Min Ilumination","group":"3cc0f0d4.91d33","order":10,"width":"8","height":"6","gtype":"gage","title":"Iluminaci처n Promedio","label":"lx","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1440.8066101074219,"y":1133.8009777069092,"wires":[]},{"id":"5115a74a.b65dd8","type":"ui_text","z":"bf54e738.408258","group":"3cc0f0d4.91d33","order":12,"width":"16","height":"1","name":"Sense Timepmin","label":"Tiempo Iluminaci처n/2min","format":"{{msg.payload}}","layout":"col-center","x":1429.3239135742188,"y":1173.2992305755615,"wires":[]},{"id":"e05fa220.674fe","type":"debug","z":"bf54e738.408258","name":"timestamp","active":false,"console":"false","complete":"payload","x":1409.5565185546875,"y":1213.7870807647705,"wires":[]},{"id":"6fc8782a.b13008","type":"inject","z":"e1601464.fe0158","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"120","crontab":"","once":false,"x":183.13487243652344,"y":2135.653929710388,"wires":[["f5ea08b9.fe22d8","8aae2596.aa1368"]]},{"id":"f5ea08b9.fe22d8","type":"function","z":"e1601464.fe0158","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 120;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*120*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":421.34168243408203,"y":2122.8806915283203,"wires":[["be4fb32c.2e6be","6c57f88c.2f7078"]]},{"id":"8aae2596.aa1368","type":"debug","z":"e1601464.fe0158","name":"boolean signal","active":false,"console":"false","complete":"payload","x":421.3493881225586,"y":2175.1607542037964,"wires":[]},{"id":"be4fb32c.2e6be","type":"debug","z":"e1601464.fe0158","name":"query signal","active":false,"console":"false","complete":"payload","x":650.230598449707,"y":2122.9346590042114,"wires":[]},{"id":"6c57f88c.2f7078","type":"mongodb in","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Find Nsec","collection":"noicesec","operation":"find","x":629.273796081543,"y":2185.4732913970947,"wires":[["d428358b.b923c8","6a3b0e02.a4175"]]},{"id":"d428358b.b923c8","type":"debug","z":"e1601464.fe0158","name":"query result","active":false,"console":"false","complete":"payload","x":850.3734283447266,"y":2183.3668327331543,"wires":[]},{"id":"6a3b0e02.a4175","type":"function","z":"e1601464.fe0158","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.noice.unit;\nvar avgPlace = query[0].room.noice.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.noice.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, noice:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminnoice\";\nreturn res;","outputs":1,"noerr":0,"x":879.1310772365994,"y":2127.5874659220376,"wires":[["9ab9eda5.0f5ee","2485d76b.1b9bd8","3c2e8cce.e96cf4"]]},{"id":"3c2e8cce.e96cf4","type":"debug","z":"e1601464.fe0158","name":"final result","active":false,"console":"false","complete":"payload","x":1103.9882888793945,"y":2128.4940853118896,"wires":[]},{"id":"2485d76b.1b9bd8","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save Nmin","collection":"noiceMin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1114.1272430419922,"y":2180.8127822875977,"wires":[]},{"id":"9ab9eda5.0f5ee","type":"link out","z":"e1601464.fe0158","name":"Mins noiceFlow","links":["8d466158.ae8ee"],"x":1059.9606437683105,"y":2232.7880535125732,"wires":[]},{"id":"63331dff.0c2d34","type":"inject","z":"e1601464.fe0158","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":188.13487243652344,"y":2334.403929710388,"wires":[["b3c0b068.194cb","681ab009.2029"]]},{"id":"b3c0b068.194cb","type":"function","z":"e1601464.fe0158","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 60;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*60*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":426.34168243408203,"y":2321.6306915283203,"wires":[["d1a6c42d.6198a8","a6ec2282.eb17f"]]},{"id":"681ab009.2029","type":"debug","z":"e1601464.fe0158","name":"boolean signal","active":false,"console":"false","complete":"payload","x":426.3493881225586,"y":2373.9107542037964,"wires":[]},{"id":"d1a6c42d.6198a8","type":"debug","z":"e1601464.fe0158","name":"query signal","active":false,"console":"false","complete":"payload","x":655.2306022644043,"y":2321.684720993042,"wires":[]},{"id":"a6ec2282.eb17f","type":"mongodb in","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Find Csec","collection":"carbonsec","operation":"find","x":634.273796081543,"y":2384.2232913970947,"wires":[["4b20f2f6.4a9ccc","bd0a1c4c.619f6"]]},{"id":"4b20f2f6.4a9ccc","type":"debug","z":"e1601464.fe0158","name":"query result","active":false,"console":"false","complete":"payload","x":855.3734283447266,"y":2382.1168327331543,"wires":[]},{"id":"bd0a1c4c.619f6","type":"function","z":"e1601464.fe0158","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.carbonDioxide.unit;\nvar avgPlace = query[0].room.carbonDioxide.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.carbonDioxide.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, carbonDioxide:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpmincarbonDioxide\";\nreturn res;","outputs":1,"noerr":0,"x":884.1310772365994,"y":2326.3374659220376,"wires":[["fa6c321.4f18cd","d98069c7.a93028","760d88e9.dd2258"]]},{"id":"760d88e9.dd2258","type":"debug","z":"e1601464.fe0158","name":"final result","active":false,"console":"false","complete":"payload","x":1108.9882888793945,"y":2327.2440853118896,"wires":[]},{"id":"d98069c7.a93028","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save Cmin","collection":"carbonMin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1119.1272430419922,"y":2379.5627822875977,"wires":[]},{"id":"fa6c321.4f18cd","type":"link out","z":"e1601464.fe0158","name":"Mins carbonFlow","links":["3a831b67.26a624"],"x":1064.9606437683105,"y":2431.5380535125732,"wires":[]},{"id":"42885ea.37193a","type":"inject","z":"e1601464.fe0158","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"120","crontab":"","once":false,"x":176.88487243652344,"y":2536.903929710388,"wires":[["3556c0a2.d56d4","e2672b67.e6b0c8"]]},{"id":"3556c0a2.d56d4","type":"function","z":"e1601464.fe0158","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 120;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*120*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":415.09168243408203,"y":2524.1306915283203,"wires":[["31a7bb07.dffae4","16943d52.7bf003"]]},{"id":"e2672b67.e6b0c8","type":"debug","z":"e1601464.fe0158","name":"boolean signal","active":true,"console":"false","complete":"payload","x":415.0993881225586,"y":2576.4107542037964,"wires":[]},{"id":"31a7bb07.dffae4","type":"debug","z":"e1601464.fe0158","name":"query signal","active":true,"console":"false","complete":"payload","x":643.9806022644043,"y":2524.184720993042,"wires":[]},{"id":"16943d52.7bf003","type":"mongodb in","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Find Isec","collection":"Iluminationsec","operation":"find","x":623.023796081543,"y":2586.7232913970947,"wires":[["84725440.789838","c67b6150.64b81"]]},{"id":"84725440.789838","type":"debug","z":"e1601464.fe0158","name":"query result","active":true,"console":"false","complete":"payload","x":844.1234283447266,"y":2584.6168327331543,"wires":[]},{"id":"c67b6150.64b81","type":"function","z":"e1601464.fe0158","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.ilumination.unit;\nvar avgPlace = query[0].room.ilumination.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.ilumination.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, ilumination:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminilumination\";\nreturn res;","outputs":1,"noerr":0,"x":872.8810772365994,"y":2528.8374659220376,"wires":[["45973f02.1f8bc","bf8a1b00.d392a8","faa38a.93526c78"]]},{"id":"faa38a.93526c78","type":"debug","z":"e1601464.fe0158","name":"final result","active":false,"console":"false","complete":"payload","x":1097.7382888793945,"y":2529.7440853118896,"wires":[]},{"id":"bf8a1b00.d392a8","type":"mongodb out","z":"e1601464.fe0158","mongodb":"f7aab59.62d8a48","name":"Save Imin","collection":"iluminationMin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1097.8772430419922,"y":2582.0627822875977,"wires":[]},{"id":"45973f02.1f8bc","type":"link out","z":"e1601464.fe0158","name":"Mins ilumFlow","links":["17dd15e6.67222a"],"x":1053.7106437683105,"y":2634.0380535125732,"wires":[]}]