NodeRed/Dashboard+API-Flow.json
[{"id":"2fe41bad.076854","type":"tab","label":"Dashboard + API Flow","disabled":false,"info":""},{"id":"e3f4afd4.726c3","type":"http request","z":"2fe41bad.076854","name":"GET temp/sec/find","method":"GET","ret":"txt","url":"/temperature/sec/find","tls":"","x":150,"y":60,"wires":[["cd3ef7ad.19b628"]]},{"id":"9825d7e9.e8a2c8","type":"http request","z":"2fe41bad.076854","name":"GET temp/min/find","method":"GET","ret":"txt","url":"/temperature/min/find","tls":"","x":150,"y":120,"wires":[["2885f1b4.50e5de"]]},{"id":"cd3ef7ad.19b628","type":"mongodb in","z":"2fe41bad.076854","mongodb":"38f64a.bcfef9b6","name":"Find Tpsec","collection":"","operation":"find","x":370,"y":60,"wires":[["2c7881fd.fc988e"]]},{"id":"2885f1b4.50e5de","type":"mongodb in","z":"2fe41bad.076854","mongodb":"38f64a.bcfef9b6","name":"Find Tpmin","collection":"","operation":"find","x":370,"y":120,"wires":[["abea4d4a.83ee6"]]},{"id":"2c7881fd.fc988e","type":"function","z":"2fe41bad.076854","name":"Content Type","func":"msg.headers = {\"Content type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":575.1000366210938,"y":59.599998474121094,"wires":[["1662ff0c.921461"]]},{"id":"abea4d4a.83ee6","type":"function","z":"2fe41bad.076854","name":"Content Type","func":"msg.headers = {\"Content type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["83d9ab68.6fb968"]]},{"id":"1662ff0c.921461","type":"http response","z":"2fe41bad.076854","name":"http find temp/sec","statusCode":"","headers":{},"x":817.1000366210938,"y":55.599998474121094,"wires":[]},{"id":"83d9ab68.6fb968","type":"http response","z":"2fe41bad.076854","name":"http find temp/min","statusCode":"","headers":{},"x":820.1000366210938,"y":116.60000610351562,"wires":[]},{"id":"4e0bf116.6e726","type":"link in","z":"2fe41bad.076854","name":"","links":["3202e416.23222c"],"x":155,"y":460,"wires":[["22cbbe33.7694d2","391e55c3.6825da"]]},{"id":"22cbbe33.7694d2","type":"debug","z":"2fe41bad.076854","name":"temperature/spec","active":false,"console":"false","complete":"payload","x":313.1000061035156,"y":409.6000061035156,"wires":[]},{"id":"391e55c3.6825da","type":"function","z":"2fe41bad.076854","name":"Format 4 Secs","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":1,"noerr":0,"x":306.1000061035156,"y":466.625,"wires":[["d100c4e6.73ad88","f6848e88.fe151","397ffde4.adef42","63a28887.563ee8","f3949c1a.f2cb9"]]},{"id":"d937eac1.f40e88","type":"link in","z":"2fe41bad.076854","name":"","links":["127cc624.c01bda"],"x":155,"y":640,"wires":[["72f4cd01.ab8654","f501e41.b52a218"]]},{"id":"72f4cd01.ab8654","type":"debug","z":"2fe41bad.076854","name":"temperature/min","active":false,"console":"false","complete":"payload","x":303.1000061035156,"y":589.6000061035156,"wires":[]},{"id":"f501e41.b52a218","type":"function","z":"2fe41bad.076854","name":"Format 4 Mins","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.sensetime;\ntemp = input.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":1,"noerr":0,"x":306.1000061035156,"y":646.625,"wires":[["ea172e3d.f95d8","2301ece9.902c14","d65fcd4a.45bb1","9c9521ed.8d054","1cd84a93.90b2b5"]]},{"id":"f6848e88.fe151","type":"ui_chart","z":"2fe41bad.076854","name":"Temperature sec chart","group":"45c7a300.3acc6c","order":0,"width":"6","height":"6","label":"Historico de Temperatura [sec]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Sin datos!!!","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":620,"y":400,"wires":[[],[]]},{"id":"397ffde4.adef42","type":"ui_gauge","z":"2fe41bad.076854","name":"Instant Sec Temperature","group":"45c7a300.3acc6c","order":0,"width":"6","height":"6","gtype":"gage","title":"Gauge","label":"celsius","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":440,"wires":[]},{"id":"63a28887.563ee8","type":"ui_text","z":"2fe41bad.076854","group":"45c7a300.3acc6c","order":0,"width":0,"height":0,"name":"Sense Time","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":588.1000366210938,"y":480.6000061035156,"wires":[]},{"id":"d100c4e6.73ad88","type":"debug","z":"2fe41bad.076854","name":"temperature","active":false,"console":"false","complete":"payload","x":590,"y":360,"wires":[]},{"id":"f3949c1a.f2cb9","type":"debug","z":"2fe41bad.076854","name":"timestamp","active":false,"console":"false","complete":"payload","x":590,"y":520,"wires":[]},{"id":"2301ece9.902c14","type":"ui_chart","z":"2fe41bad.076854","name":"Temperature Min chart","group":"45c7a300.3acc6c","order":0,"width":"6","height":"6","label":"Historico de Temperatura [min]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Sin datos!!!","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":620,"y":620,"wires":[[],[]]},{"id":"d65fcd4a.45bb1","type":"ui_gauge","z":"2fe41bad.076854","name":"Instant MinTemperature","group":"45c7a300.3acc6c","order":0,"width":"6","height":"6","gtype":"gage","title":"Gauge","label":"celcius","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":660,"wires":[]},{"id":"9c9521ed.8d054","type":"ui_text","z":"2fe41bad.076854","group":"45c7a300.3acc6c","order":0,"width":0,"height":0,"name":"Sense Timepmin","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":608.1000366210938,"y":700.6000061035156,"wires":[]},{"id":"ea172e3d.f95d8","type":"debug","z":"2fe41bad.076854","name":"temperature","active":false,"console":"false","complete":"payload","x":590,"y":580,"wires":[]},{"id":"1cd84a93.90b2b5","type":"debug","z":"2fe41bad.076854","name":"timestamp","active":false,"console":"false","complete":"payload","x":590,"y":740,"wires":[]},{"id":"6bba2db4.e0b5b4","type":"http request","z":"2fe41bad.076854","name":"GET temp/sec/count","method":"GET","ret":"txt","url":"/temperature/sec/count","tls":"","x":160,"y":200,"wires":[["f9701f16.62b7f"]]},{"id":"d1825b56.924c98","type":"http request","z":"2fe41bad.076854","name":"GET temp/min/count","method":"GET","ret":"txt","url":"/temperature/min/count","tls":"","x":160,"y":260,"wires":[["1f2585e5.532e6a"]]},{"id":"f9701f16.62b7f","type":"mongodb in","z":"2fe41bad.076854","mongodb":"38f64a.bcfef9b6","name":"Count Tpsec","collection":"","operation":"count","x":373.1000061035156,"y":199,"wires":[["9edf3986.a4ba68"]]},{"id":"1f2585e5.532e6a","type":"mongodb in","z":"2fe41bad.076854","mongodb":"38f64a.bcfef9b6","name":"Count Tpmin","collection":"","operation":"count","x":370,"y":260,"wires":[["69f29ead.e2f9d"]]},{"id":"9edf3986.a4ba68","type":"function","z":"2fe41bad.076854","name":"Content Type","func":"msg.headers = {\"Content type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":575.1000366210938,"y":199.5999984741211,"wires":[["19e0c2e1.5f8ffd"]]},{"id":"69f29ead.e2f9d","type":"function","z":"2fe41bad.076854","name":"Content Type","func":"msg.headers = {\"Content type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["d0d41a3e.b47828"]]},{"id":"19e0c2e1.5f8ffd","type":"http response","z":"2fe41bad.076854","name":"http count temp/sec","statusCode":"","headers":{},"x":817.1000366210938,"y":195.5999984741211,"wires":[]},{"id":"d0d41a3e.b47828","type":"http response","z":"2fe41bad.076854","name":"http count temp/min","statusCode":"","headers":{},"x":820.1000366210938,"y":256.6000061035156,"wires":[]},{"id":"38f64a.bcfef9b6","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"45c7a300.3acc6c","type":"ui_group","z":"","name":"Estado del Deposito","tab":"dc0cd8b8.bd09d8","disp":true,"width":"12"},{"id":"dc0cd8b8.bd09d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]