NodeRed/Processing-flow.json
[{"id":"a2342aab.558e38","type":"tab","label":"Processing Flow","disabled":false,"info":""},{"id":"3e2748f4.b368c8","type":"udp in","z":"a2342aab.558e38","name":"UDP incoming temperature","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":216.25003814697266,"y":162.51734733581543,"wires":[["c6e6a40e.452938","867a33fe.2cb5d"]]},{"id":"c6e6a40e.452938","type":"debug","z":"a2342aab.558e38","name":"incoming data","active":false,"console":"false","complete":"payload","x":429.0834083557129,"y":125.11804103851318,"wires":[]},{"id":"867a33fe.2cb5d","type":"json","z":"a2342aab.558e38","name":"Format 2 json","pretty":true,"x":431.0764617919922,"y":198.767352104187,"wires":[["b4e441ea.b80ab","940db29.a34f85"]]},{"id":"b4e441ea.b80ab","type":"debug","z":"a2342aab.558e38","name":"JSON format","active":false,"console":"false","complete":"payload","x":621.0648612976074,"y":198.77700757980347,"wires":[]},{"id":"940db29.a34f85","type":"function","z":"a2342aab.558e38","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomTemperature\";\n\nreturn res;","outputs":1,"noerr":0,"x":619.9614673190647,"y":264.78393438127307,"wires":[["4f54aad8.b13404","acb44eb8.353ef"]]},{"id":"4c90e3b5.658f4c","type":"inject","z":"a2342aab.558e38","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":215.51703643798828,"y":354.4135675430298,"wires":[["fab2b1a.1b6945","7cab8a9d.eec044"]]},{"id":"fab2b1a.1b6945","type":"debug","z":"a2342aab.558e38","name":"before format","active":false,"console":"false","complete":"payload","x":418.8464813232422,"y":289.0200614929199,"wires":[]},{"id":"7cab8a9d.eec044","type":"function","z":"a2342aab.558e38","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":426.6242684258355,"y":355.8911968866984,"wires":[["43816066.416d6","4f54aad8.b13404"]]},{"id":"43816066.416d6","type":"debug","z":"a2342aab.558e38","name":"after format","active":false,"console":"false","complete":"payload","x":615.5170288085938,"y":424.5833339691162,"wires":[]},{"id":"4f54aad8.b13404","type":"function","z":"a2342aab.558e38","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":838.8427124023438,"y":356.00308895111084,"wires":[["43ff63d.1a63f9c","99669d.b85fd96","830d3f0.0392dc"]]},{"id":"acb44eb8.353ef","type":"debug","z":"a2342aab.558e38","name":"after topic","active":false,"console":"false","complete":"payload","x":821.0688018798828,"y":265.19675159454346,"wires":[]},{"id":"43ff63d.1a63f9c","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save Tpsec","collection":"tempsecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1057.0111999511719,"y":260.84887504577637,"wires":[]},{"id":"99669d.b85fd96","type":"debug","z":"a2342aab.558e38","name":"after merge","active":false,"console":"false","complete":"payload","x":1038.8465881347656,"y":355.06943798065186,"wires":[]},{"id":"830d3f0.0392dc","type":"link out","z":"a2342aab.558e38","name":"Temp","links":["a34ed7f6.3a8398"],"x":984.3943996429443,"y":412.0987539291382,"wires":[]},{"id":"458bb574.a282fc","type":"inject","z":"a2342aab.558e38","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":192.98934936523438,"y":1948.378339767456,"wires":[["c82972e7.d9435","7db005f4.08611c"]]},{"id":"c82972e7.d9435","type":"function","z":"a2342aab.558e38","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 60;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*60*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":431.19615936279297,"y":1935.6051015853882,"wires":[["dccdd9b6.c84f18","23a793c.ced146c"]]},{"id":"7db005f4.08611c","type":"debug","z":"a2342aab.558e38","name":"boolean signal","active":false,"console":"false","complete":"payload","x":431.20386505126953,"y":1987.8851642608643,"wires":[]},{"id":"dccdd9b6.c84f18","type":"debug","z":"a2342aab.558e38","name":"query signal","active":false,"console":"false","complete":"payload","x":660.0850791931152,"y":1935.6591310501099,"wires":[]},{"id":"23a793c.ced146c","type":"mongodb in","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Find Tsec","collection":"tempsecs","operation":"find","x":639.1282730102539,"y":1998.1977014541626,"wires":[["7d80db34.a5dd74","1e1fc8a8.c0c187"]]},{"id":"7d80db34.a5dd74","type":"debug","z":"a2342aab.558e38","name":"query result","active":false,"console":"false","complete":"payload","x":860.2279052734375,"y":1996.0912427902222,"wires":[]},{"id":"1e1fc8a8.c0c187","type":"function","z":"a2342aab.558e38","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":888.9855541653103,"y":1940.3118759791055,"wires":[["392f750e.a709fa","bd156840.3b9f68","fc37f8b8.ec8368"]]},{"id":"fc37f8b8.ec8368","type":"debug","z":"a2342aab.558e38","name":"final result","active":false,"console":"false","complete":"payload","x":1113.8429222106934,"y":1918.4686090946198,"wires":[]},{"id":"bd156840.3b9f68","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save Tmin","collection":"tempmins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1123.9817199707031,"y":1993.5371923446655,"wires":[]},{"id":"392f750e.a709fa","type":"link out","z":"a2342aab.558e38","name":"Mins tempFlow","links":["1e0d7fbf.37431"],"x":1069.8151206970215,"y":2045.512463569641,"wires":[]},{"id":"9e9b4f56.bbf95","type":"udp in","z":"a2342aab.558e38","name":"UDP incoming noice","iface":"","port":"6001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":203.25787734985352,"y":517.5234231948853,"wires":[["bea313b6.46b76","55c9d298.175c7c"]]},{"id":"bea313b6.46b76","type":"debug","z":"a2342aab.558e38","name":"incoming data","active":false,"console":"false","complete":"payload","x":409.9176254272461,"y":519.124119758606,"wires":[]},{"id":"55c9d298.175c7c","type":"json","z":"a2342aab.558e38","name":"Format 2 json","pretty":true,"x":411.9106788635254,"y":592.7734308242798,"wires":[["379b213d.a8970e","90c4919f.b960e"]]},{"id":"379b213d.a8970e","type":"debug","z":"a2342aab.558e38","name":"JSON format","active":false,"console":"false","complete":"payload","x":601.8990783691406,"y":592.7830862998962,"wires":[]},{"id":"90c4919f.b960e","type":"function","z":"a2342aab.558e38","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomNoice\";\n\nreturn res;","outputs":1,"noerr":0,"x":600.7956843905979,"y":658.7900131013658,"wires":[["f2c08b95.1fe2f8","f6a5da94.de0c78"]]},{"id":"67411e2a.5c2e8","type":"inject","z":"a2342aab.558e38","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":196.35125350952148,"y":748.4196462631226,"wires":[["a1063a2.0e691c8","8d2c4823.9c6a38"]]},{"id":"a1063a2.0e691c8","type":"debug","z":"a2342aab.558e38","name":"before format","active":false,"console":"false","complete":"payload","x":399.6806983947754,"y":683.0261402130127,"wires":[]},{"id":"8d2c4823.9c6a38","type":"function","z":"a2342aab.558e38","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":407.45848549736866,"y":749.8972756067913,"wires":[["b3e8c765.b14a88","f2c08b95.1fe2f8"]]},{"id":"b3e8c765.b14a88","type":"debug","z":"a2342aab.558e38","name":"after format","active":false,"console":"false","complete":"payload","x":596.351245880127,"y":818.589412689209,"wires":[]},{"id":"f2c08b95.1fe2f8","type":"function","z":"a2342aab.558e38","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoice\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomNoice\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":819.676929473877,"y":750.0091676712036,"wires":[["51057fd.5c70a8","49c6a98b.8dc598","661ed8bc.490f48"]]},{"id":"f6a5da94.de0c78","type":"debug","z":"a2342aab.558e38","name":"after topic","active":false,"console":"false","complete":"payload","x":801.903018951416,"y":659.2028303146362,"wires":[]},{"id":"51057fd.5c70a8","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save Nsec","collection":"noicesecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1026.845085144043,"y":684.8548746109009,"wires":[]},{"id":"49c6a98b.8dc598","type":"debug","z":"a2342aab.558e38","name":"after merge","active":false,"console":"false","complete":"payload","x":1019.6808052062988,"y":749.0755167007446,"wires":[]},{"id":"661ed8bc.490f48","type":"link out","z":"a2342aab.558e38","name":"Noice","links":["30e2be.b78b5d42"],"x":965.2286167144775,"y":806.104832649231,"wires":[]},{"id":"254ef6f1.ae94ba","type":"udp in","z":"a2342aab.558e38","name":"UDP incoming carbon dioxide","iface":"","port":"6002","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":173.7578125,"y":949.773416519165,"wires":[["2a7749c5.dd5786","7672a06.eb8dc6"]]},{"id":"2a7749c5.dd5786","type":"debug","z":"a2342aab.558e38","name":"incoming data","active":false,"console":"false","complete":"payload","x":398.4175605773926,"y":930.3740844726562,"wires":[]},{"id":"7672a06.eb8dc6","type":"json","z":"a2342aab.558e38","name":"Format 2 json","pretty":true,"x":400.4106140136719,"y":1004.0233955383301,"wires":[["20d5037c.ff91ac","88689520.f56e28"]]},{"id":"20d5037c.ff91ac","type":"debug","z":"a2342aab.558e38","name":"JSON format","active":false,"console":"false","complete":"payload","x":590.3990135192871,"y":1004.0330510139465,"wires":[]},{"id":"88689520.f56e28","type":"function","z":"a2342aab.558e38","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomCarbonDioxide\";\n\nreturn res;","outputs":1,"noerr":0,"x":589.2956195407444,"y":1070.039977815416,"wires":[["890922e3.7e733","4982da1c.616524"]]},{"id":"bc6cffba.89486","type":"inject","z":"a2342aab.558e38","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":184.85118865966797,"y":1159.6696109771729,"wires":[["59e0e2b8.9fce3c","13066d0d.81d653"]]},{"id":"59e0e2b8.9fce3c","type":"debug","z":"a2342aab.558e38","name":"before format","active":false,"console":"false","complete":"payload","x":388.1806335449219,"y":1094.276104927063,"wires":[]},{"id":"13066d0d.81d653","type":"function","z":"a2342aab.558e38","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":395.95842064751514,"y":1161.1472403208415,"wires":[["2d986eae.61b212","890922e3.7e733"]]},{"id":"2d986eae.61b212","type":"debug","z":"a2342aab.558e38","name":"after format","active":false,"console":"false","complete":"payload","x":584.8511810302734,"y":1229.8393774032593,"wires":[]},{"id":"890922e3.7e733","type":"function","z":"a2342aab.558e38","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomCarbonDioxide\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomCarbonDioxide\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":808.1768646240234,"y":1161.259132385254,"wires":[["1e7c9543.c6db7b","e7f46e60.63ae5","bd16485e.6a8aa8"]]},{"id":"4982da1c.616524","type":"debug","z":"a2342aab.558e38","name":"after topic","active":false,"console":"false","complete":"payload","x":790.4029541015625,"y":1070.4527950286865,"wires":[]},{"id":"1e7c9543.c6db7b","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save CDsec","collection":"carbonsecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1025.3450889587402,"y":1093.1049156188965,"wires":[]},{"id":"e7f46e60.63ae5","type":"debug","z":"a2342aab.558e38","name":"after merge","active":false,"console":"false","complete":"payload","x":1008.1807403564453,"y":1160.325481414795,"wires":[]},{"id":"bd16485e.6a8aa8","type":"link out","z":"a2342aab.558e38","name":"CD","links":["7fe3a80f.718738"],"x":953.728551864624,"y":1217.3547973632812,"wires":[]},{"id":"658b93ed.93c76c","type":"udp in","z":"a2342aab.558e38","name":"UDP incoming ilumination","iface":"","port":"6003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":161.5078125,"y":1348.5232973098755,"wires":[["98f3da.fc264c28","a17fb204.902c6"]]},{"id":"98f3da.fc264c28","type":"debug","z":"a2342aab.558e38","name":"incoming data","active":false,"console":"false","complete":"payload","x":419.1675605773926,"y":1338.1240119934082,"wires":[]},{"id":"a17fb204.902c6","type":"json","z":"a2342aab.558e38","name":"Format 2 json","pretty":true,"x":421.1606140136719,"y":1411.773323059082,"wires":[["c4adbf45.51ca4","67ff6a09.73b514"]]},{"id":"c4adbf45.51ca4","type":"debug","z":"a2342aab.558e38","name":"JSON format","active":false,"console":"false","complete":"payload","x":611.1490135192871,"y":1411.7829785346985,"wires":[]},{"id":"67ff6a09.73b514","type":"function","z":"a2342aab.558e38","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomIlumination\";\n\nreturn res;","outputs":1,"noerr":0,"x":610.0456195407444,"y":1477.789905336168,"wires":[["89ebf54.210be08","32c89ea2.54d9a2"]]},{"id":"53faa418.dd5ccc","type":"inject","z":"a2342aab.558e38","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":205.60118865966797,"y":1567.4195384979248,"wires":[["f660b819.ac3488","4304c8ba.a2be68"]]},{"id":"f660b819.ac3488","type":"debug","z":"a2342aab.558e38","name":"before format","active":false,"console":"false","complete":"payload","x":408.9306335449219,"y":1502.026032447815,"wires":[]},{"id":"4304c8ba.a2be68","type":"function","z":"a2342aab.558e38","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":416.70842064751514,"y":1568.8971678415935,"wires":[["a73b5731.6a4b58","89ebf54.210be08"]]},{"id":"a73b5731.6a4b58","type":"debug","z":"a2342aab.558e38","name":"after format","active":false,"console":"false","complete":"payload","x":605.6011810302734,"y":1637.5893049240112,"wires":[]},{"id":"89ebf54.210be08","type":"function","z":"a2342aab.558e38","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomIlumination\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":828.9268646240234,"y":1569.0090599060059,"wires":[["c7e5223a.2c622","8d12fde9.43642","45a947d.1f31fb8"]]},{"id":"32c89ea2.54d9a2","type":"debug","z":"a2342aab.558e38","name":"after topic","active":false,"console":"false","complete":"payload","x":811.1529541015625,"y":1478.2027225494385,"wires":[]},{"id":"c7e5223a.2c622","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save Isec","collection":"iluminationsecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1026.0950202941895,"y":1503.8547668457031,"wires":[]},{"id":"8d12fde9.43642","type":"debug","z":"a2342aab.558e38","name":"after merge","active":false,"console":"false","complete":"payload","x":1033.9307861328125,"y":1579.0754680633545,"wires":[]},{"id":"45a947d.1f31fb8","type":"link out","z":"a2342aab.558e38","name":"Ilumination","links":["1b238993.1c8be6"],"x":974.478551864624,"y":1625.1047248840332,"wires":[]},{"id":"3e339b29.640754","type":"inject","z":"a2342aab.558e38","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"120","crontab":"","once":false,"x":183.13487243652344,"y":2135.653929710388,"wires":[["e63fba56.84a8e8","9ddebfee.bd794"]]},{"id":"e63fba56.84a8e8","type":"function","z":"a2342aab.558e38","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 120;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*120*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":421.34168243408203,"y":2122.8806915283203,"wires":[["955361c8.00a99","11ab3e3a.a842a2"]]},{"id":"9ddebfee.bd794","type":"debug","z":"a2342aab.558e38","name":"boolean signal","active":false,"console":"false","complete":"payload","x":421.3493881225586,"y":2175.1607542037964,"wires":[]},{"id":"955361c8.00a99","type":"debug","z":"a2342aab.558e38","name":"query signal","active":false,"console":"false","complete":"payload","x":650.230598449707,"y":2122.9346590042114,"wires":[]},{"id":"11ab3e3a.a842a2","type":"mongodb in","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Find Nsec","collection":"noicesecs","operation":"find","x":629.273796081543,"y":2185.4732913970947,"wires":[["aafe286c.541978","cbb3ae8.c3ce65"]]},{"id":"aafe286c.541978","type":"debug","z":"a2342aab.558e38","name":"query result","active":false,"console":"false","complete":"payload","x":850.3734283447266,"y":2183.3668327331543,"wires":[]},{"id":"cbb3ae8.c3ce65","type":"function","z":"a2342aab.558e38","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.noice.unit;\nvar avgPlace = query[0].room.noice.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.noice.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, noice:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminnoice\";\nreturn res;","outputs":1,"noerr":0,"x":879.1310772365994,"y":2127.5874659220376,"wires":[["bcd4e19e.39acd","f836ecb3.ddd1a","6bac9914.384fd8"]]},{"id":"6bac9914.384fd8","type":"debug","z":"a2342aab.558e38","name":"final result","active":false,"console":"false","complete":"payload","x":1109.9883728027344,"y":2131.4942598342896,"wires":[]},{"id":"f836ecb3.ddd1a","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save Nmin","collection":"noicemins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1114.1272430419922,"y":2180.8127822875977,"wires":[]},{"id":"bcd4e19e.39acd","type":"link out","z":"a2342aab.558e38","name":"Mins noiceFlow","links":["258e94ce.1f7dcc"],"x":1059.9606437683105,"y":2232.7880535125732,"wires":[]},{"id":"8da2286a.91e568","type":"inject","z":"a2342aab.558e38","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":188.13487243652344,"y":2334.403929710388,"wires":[["88491b93.533bc8","264f8ef8.255e42"]]},{"id":"88491b93.533bc8","type":"function","z":"a2342aab.558e38","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 60;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*60*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":426.34168243408203,"y":2321.6306915283203,"wires":[["aa871c2b.b70eb","679d033a.00172c"]]},{"id":"264f8ef8.255e42","type":"debug","z":"a2342aab.558e38","name":"boolean signal","active":false,"console":"false","complete":"payload","x":426.3493881225586,"y":2373.9107542037964,"wires":[]},{"id":"aa871c2b.b70eb","type":"debug","z":"a2342aab.558e38","name":"query signal","active":false,"console":"false","complete":"payload","x":655.2306022644043,"y":2321.684720993042,"wires":[]},{"id":"679d033a.00172c","type":"mongodb in","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Find Csec","collection":"carbonsecs","operation":"find","x":634.273796081543,"y":2384.2232913970947,"wires":[["a8300de1.8a9c6","ba621d02.53f0d"]]},{"id":"a8300de1.8a9c6","type":"debug","z":"a2342aab.558e38","name":"query result","active":false,"console":"false","complete":"payload","x":855.3734283447266,"y":2382.1168327331543,"wires":[]},{"id":"ba621d02.53f0d","type":"function","z":"a2342aab.558e38","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.carbonDioxide.unit;\nvar avgPlace = query[0].room.carbonDioxide.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.carbonDioxide.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, carbonDioxide:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpmincarbonDioxide\";\nreturn res;","outputs":1,"noerr":0,"x":884.1310772365994,"y":2326.3374659220376,"wires":[["fc12f14b.d3851","a5c9e8a3.075098","5154e684.2ffad8"]]},{"id":"5154e684.2ffad8","type":"debug","z":"a2342aab.558e38","name":"final result","active":false,"console":"false","complete":"payload","x":1108.9882888793945,"y":2327.2440853118896,"wires":[]},{"id":"a5c9e8a3.075098","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save Cmin","collection":"carbonmins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1119.1272430419922,"y":2379.5627822875977,"wires":[]},{"id":"fc12f14b.d3851","type":"link out","z":"a2342aab.558e38","name":"Mins carbonFlow","links":["623049e3.232d18"],"x":1064.9606437683105,"y":2431.5380535125732,"wires":[]},{"id":"4eb79669.074048","type":"inject","z":"a2342aab.558e38","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"120","crontab":"","once":false,"x":176.88487243652344,"y":2536.903929710388,"wires":[["86085096.f867a","f814ec7d.53645"]]},{"id":"86085096.f867a","type":"function","z":"a2342aab.558e38","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 120;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*120*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":415.09168243408203,"y":2524.1306915283203,"wires":[["2c91cab2.ac2376","419aba9.b70c644"]]},{"id":"f814ec7d.53645","type":"debug","z":"a2342aab.558e38","name":"boolean signal","active":true,"console":"false","complete":"payload","x":415.0993881225586,"y":2576.4107542037964,"wires":[]},{"id":"2c91cab2.ac2376","type":"debug","z":"a2342aab.558e38","name":"query signal","active":true,"console":"false","complete":"payload","x":643.9806022644043,"y":2524.184720993042,"wires":[]},{"id":"419aba9.b70c644","type":"mongodb in","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Find Isec","collection":"iluminationsecs","operation":"find","x":623.023796081543,"y":2586.7232913970947,"wires":[["fdedbb99.c5a438","69686726.8f36a8"]]},{"id":"fdedbb99.c5a438","type":"debug","z":"a2342aab.558e38","name":"query result","active":true,"console":"false","complete":"payload","x":844.1234283447266,"y":2584.6168327331543,"wires":[]},{"id":"69686726.8f36a8","type":"function","z":"a2342aab.558e38","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.ilumination.unit;\nvar avgPlace = query[0].room.ilumination.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.ilumination.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, ilumination:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminilumination\";\nreturn res;","outputs":1,"noerr":0,"x":872.8810772365994,"y":2528.8374659220376,"wires":[["59da9b57.6eb524","e9e39d62.9bda","a643c781.e986a8"]]},{"id":"a643c781.e986a8","type":"debug","z":"a2342aab.558e38","name":"final result","active":false,"console":"false","complete":"payload","x":1107.7383422851562,"y":2526.7440280914307,"wires":[]},{"id":"e9e39d62.9bda","type":"mongodb out","z":"a2342aab.558e38","mongodb":"f7aab59.62d8a48","name":"Save Imin","collection":"iluminationmins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1097.8772430419922,"y":2582.0627822875977,"wires":[]},{"id":"59da9b57.6eb524","type":"link out","z":"a2342aab.558e38","name":"Mins ilumFlow","links":["7617c049.84e31"],"x":1053.7106437683105,"y":2634.0380535125732,"wires":[]},{"id":"f7aab59.62d8a48","type":"mongodb","z":"","hostname":"ds149144.mlab.com","port":"49144","db":"mina_samaca_g4","name":"prueba"}]