NodeRed/Processing-flow.json
[{"id":"9bbe9acb.5cfe78","type":"tab","label":"Processing Flow","disabled":false,"info":""},{"id":"437f8229.a2aeec","type":"udp in","z":"9bbe9acb.5cfe78","name":"UDP incoming temperature","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":216.25003814697266,"y":162.51734733581543,"wires":[["bef8231.a2b4ee","1a9c948d.714e7b"]]},{"id":"bef8231.a2b4ee","type":"debug","z":"9bbe9acb.5cfe78","name":"incoming data","active":false,"console":"false","complete":"payload","x":429.0834083557129,"y":125.11804103851318,"wires":[]},{"id":"1a9c948d.714e7b","type":"json","z":"9bbe9acb.5cfe78","name":"Format 2 json","pretty":true,"x":431.0764617919922,"y":198.767352104187,"wires":[["9e2b815a.c5a09","e3c36b36.14a108"]]},{"id":"9e2b815a.c5a09","type":"debug","z":"9bbe9acb.5cfe78","name":"JSON format","active":false,"console":"false","complete":"payload","x":621.0648612976074,"y":198.77700757980347,"wires":[]},{"id":"e3c36b36.14a108","type":"function","z":"9bbe9acb.5cfe78","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomTemperature\";\n\nreturn res;","outputs":1,"noerr":0,"x":619.9614673190647,"y":264.78393438127307,"wires":[["15c6e4d3.8d881b","4cf86acd.046154"]]},{"id":"d2a4bf13.8dcc1","type":"inject","z":"9bbe9acb.5cfe78","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":215.51703643798828,"y":354.4135675430298,"wires":[["a1510170.adb3b","b58835ca.47bb68"]]},{"id":"a1510170.adb3b","type":"debug","z":"9bbe9acb.5cfe78","name":"before format","active":false,"console":"false","complete":"payload","x":418.8464813232422,"y":289.0200614929199,"wires":[]},{"id":"b58835ca.47bb68","type":"function","z":"9bbe9acb.5cfe78","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":426.6242684258355,"y":355.8911968866984,"wires":[["2807b7ab.005848","15c6e4d3.8d881b"]]},{"id":"2807b7ab.005848","type":"debug","z":"9bbe9acb.5cfe78","name":"after format","active":false,"console":"false","complete":"payload","x":615.5170288085938,"y":424.5833339691162,"wires":[]},{"id":"15c6e4d3.8d881b","type":"function","z":"9bbe9acb.5cfe78","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":838.8427124023438,"y":356.00308895111084,"wires":[["9750fe4e.e0905","80664575.8aad38","ce21562f.9195a8"]]},{"id":"4cf86acd.046154","type":"debug","z":"9bbe9acb.5cfe78","name":"after topic","active":false,"console":"false","complete":"payload","x":821.0688018798828,"y":265.19675159454346,"wires":[]},{"id":"9750fe4e.e0905","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save Tpsec","collection":"tempsecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1055.0113830566406,"y":268.84889698028564,"wires":[]},{"id":"80664575.8aad38","type":"debug","z":"9bbe9acb.5cfe78","name":"after merge","active":false,"console":"false","complete":"payload","x":1038.8465881347656,"y":355.06943798065186,"wires":[]},{"id":"ce21562f.9195a8","type":"link out","z":"9bbe9acb.5cfe78","name":"Temp","links":["a34ed7f6.3a8398"],"x":984.3943996429443,"y":412.0987539291382,"wires":[]},{"id":"a8f68396.3e292","type":"inject","z":"9bbe9acb.5cfe78","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":209.9893527560764,"y":1748.3783324559531,"wires":[["9632f18b.017e5","4edea343.ea5f4c"]]},{"id":"9632f18b.017e5","type":"function","z":"9bbe9acb.5cfe78","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 60;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*60*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":448.196162753635,"y":1735.6050942738852,"wires":[["4db6b322.42c9cc","430a0296.1a553c"]]},{"id":"4edea343.ea5f4c","type":"debug","z":"9bbe9acb.5cfe78","name":"boolean signal","active":false,"console":"false","complete":"payload","x":448.20386844211157,"y":1787.8851569493613,"wires":[]},{"id":"4db6b322.42c9cc","type":"debug","z":"9bbe9acb.5cfe78","name":"query signal","active":false,"console":"false","complete":"payload","x":677.0850825839573,"y":1735.659123738607,"wires":[]},{"id":"430a0296.1a553c","type":"mongodb in","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Find Tsec","collection":"tempsecs","operation":"find","x":656.128276401096,"y":1798.1976941426597,"wires":[["a8ea07a5.48a3f8","81770237.722d3"]]},{"id":"a8ea07a5.48a3f8","type":"debug","z":"9bbe9acb.5cfe78","name":"query result","active":false,"console":"false","complete":"payload","x":877.2279086642795,"y":1796.0912354787192,"wires":[]},{"id":"81770237.722d3","type":"function","z":"9bbe9acb.5cfe78","name":"Processing Average","func":"var res = {};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres = {protime:new Date(Date.now()), sensor: \"Temperature sensor\", data:avgTemp, unit:avgUnit};\nreturn res;","outputs":1,"noerr":0,"x":905.9855575561523,"y":1740.3118686676025,"wires":[["f068245e.ecc2e8","efe86b76.1afb68","ac82d64f.b80a58"]]},{"id":"ac82d64f.b80a58","type":"debug","z":"9bbe9acb.5cfe78","name":"final result","active":false,"console":"false","complete":"payload","x":1130.8429256015354,"y":1718.4686017831168,"wires":[]},{"id":"efe86b76.1afb68","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save Tmin","collection":"sensormins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1140.9817538791233,"y":1772.537330945333,"wires":[]},{"id":"f068245e.ecc2e8","type":"link out","z":"9bbe9acb.5cfe78","name":"Mins tempFlow","links":["1e0d7fbf.37431"],"x":1086.8151240878635,"y":1845.5124562581382,"wires":[]},{"id":"40b59f84.e511b","type":"udp in","z":"9bbe9acb.5cfe78","name":"UDP incoming noice","iface":"","port":"6001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":203.25787734985352,"y":517.5234231948853,"wires":[["ab262051.47771","cad47ec7.d2d78"]]},{"id":"ab262051.47771","type":"debug","z":"9bbe9acb.5cfe78","name":"incoming data","active":false,"console":"false","complete":"payload","x":409.9176254272461,"y":519.124119758606,"wires":[]},{"id":"cad47ec7.d2d78","type":"json","z":"9bbe9acb.5cfe78","name":"Format 2 json","pretty":true,"x":411.9106788635254,"y":592.7734308242798,"wires":[["85c3d848.e39448","4cd462e2.ca3c3c"]]},{"id":"85c3d848.e39448","type":"debug","z":"9bbe9acb.5cfe78","name":"JSON format","active":false,"console":"false","complete":"payload","x":601.8990783691406,"y":592.7830862998962,"wires":[]},{"id":"4cd462e2.ca3c3c","type":"function","z":"9bbe9acb.5cfe78","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomNoice\";\n\nreturn res;","outputs":1,"noerr":0,"x":600.7956843905979,"y":658.7900131013658,"wires":[["356ce98c.a61526","70253e86.fe2e7"]]},{"id":"a6595435.555bc8","type":"inject","z":"9bbe9acb.5cfe78","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":196.35125350952148,"y":748.4196462631226,"wires":[["2f09f5e4.e6a50a","141a2111.2f1ccf"]]},{"id":"2f09f5e4.e6a50a","type":"debug","z":"9bbe9acb.5cfe78","name":"before format","active":false,"console":"false","complete":"payload","x":399.6806983947754,"y":683.0261402130127,"wires":[]},{"id":"141a2111.2f1ccf","type":"function","z":"9bbe9acb.5cfe78","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":407.45848549736866,"y":749.8972756067913,"wires":[["f3b9373.f1187c8","356ce98c.a61526"]]},{"id":"f3b9373.f1187c8","type":"debug","z":"9bbe9acb.5cfe78","name":"after format","active":false,"console":"false","complete":"payload","x":596.351245880127,"y":818.589412689209,"wires":[]},{"id":"356ce98c.a61526","type":"function","z":"9bbe9acb.5cfe78","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoice\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomNoice\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":819.676929473877,"y":750.0091676712036,"wires":[["2aba9bdf.0a56d4","170958ca.ba2cc7","89b5b948.d0c978"]]},{"id":"70253e86.fe2e7","type":"debug","z":"9bbe9acb.5cfe78","name":"after topic","active":false,"console":"false","complete":"payload","x":801.903018951416,"y":659.2028303146362,"wires":[]},{"id":"2aba9bdf.0a56d4","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save Nsec","collection":"noicesecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1026.845085144043,"y":684.8548746109009,"wires":[]},{"id":"170958ca.ba2cc7","type":"debug","z":"9bbe9acb.5cfe78","name":"after merge","active":false,"console":"false","complete":"payload","x":1019.6808052062988,"y":749.0755167007446,"wires":[]},{"id":"89b5b948.d0c978","type":"link out","z":"9bbe9acb.5cfe78","name":"Noice","links":["30e2be.b78b5d42"],"x":965.2286167144775,"y":806.104832649231,"wires":[]},{"id":"e65990df.cb745","type":"udp in","z":"9bbe9acb.5cfe78","name":"UDP incoming carbon dioxide","iface":"","port":"6002","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":173.7578125,"y":949.773416519165,"wires":[["3838763d.4dde3a","4f833dfb.66bec4"]]},{"id":"3838763d.4dde3a","type":"debug","z":"9bbe9acb.5cfe78","name":"incoming data","active":false,"console":"false","complete":"payload","x":398.4175605773926,"y":930.3740844726562,"wires":[]},{"id":"4f833dfb.66bec4","type":"json","z":"9bbe9acb.5cfe78","name":"Format 2 json","pretty":true,"x":400.4106140136719,"y":1004.0233955383301,"wires":[["a77054a3.588b58","4e49e5ef.a4e7ec"]]},{"id":"a77054a3.588b58","type":"debug","z":"9bbe9acb.5cfe78","name":"JSON format","active":false,"console":"false","complete":"payload","x":590.3990135192871,"y":1004.0330510139465,"wires":[]},{"id":"4e49e5ef.a4e7ec","type":"function","z":"9bbe9acb.5cfe78","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomCarbonDioxide\";\n\nreturn res;","outputs":1,"noerr":0,"x":589.2956195407444,"y":1070.039977815416,"wires":[["6c59fb34.df1e14","60ccc269.f2722c"]]},{"id":"9b6fb9db.4f2158","type":"inject","z":"9bbe9acb.5cfe78","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":184.85118865966797,"y":1159.6696109771729,"wires":[["a8c3dbc8.5b6e18","e21f52b9.47b21"]]},{"id":"a8c3dbc8.5b6e18","type":"debug","z":"9bbe9acb.5cfe78","name":"before format","active":false,"console":"false","complete":"payload","x":388.1806335449219,"y":1094.276104927063,"wires":[]},{"id":"e21f52b9.47b21","type":"function","z":"9bbe9acb.5cfe78","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":395.95842064751514,"y":1161.1472403208415,"wires":[["f179bb6e.fb5ab8","6c59fb34.df1e14"]]},{"id":"f179bb6e.fb5ab8","type":"debug","z":"9bbe9acb.5cfe78","name":"after format","active":false,"console":"false","complete":"payload","x":584.8511810302734,"y":1229.8393774032593,"wires":[]},{"id":"6c59fb34.df1e14","type":"function","z":"9bbe9acb.5cfe78","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomCarbonDioxide\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomCarbonDioxide\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":808.1768646240234,"y":1161.259132385254,"wires":[["2beba695.5c2e6a","3c35bce6.7316a4","f496f341.70bac"]]},{"id":"60ccc269.f2722c","type":"debug","z":"9bbe9acb.5cfe78","name":"after topic","active":false,"console":"false","complete":"payload","x":790.4029541015625,"y":1070.4527950286865,"wires":[]},{"id":"2beba695.5c2e6a","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save CDsec","collection":"carbonsecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1025.3450889587402,"y":1093.1049156188965,"wires":[]},{"id":"3c35bce6.7316a4","type":"debug","z":"9bbe9acb.5cfe78","name":"after merge","active":false,"console":"false","complete":"payload","x":1008.1807403564453,"y":1160.325481414795,"wires":[]},{"id":"f496f341.70bac","type":"link out","z":"9bbe9acb.5cfe78","name":"CD","links":["7fe3a80f.718738"],"x":953.728551864624,"y":1217.3547973632812,"wires":[]},{"id":"89cd36a0.561358","type":"udp in","z":"9bbe9acb.5cfe78","name":"UDP incoming ilumination","iface":"","port":"6003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":161.5078125,"y":1348.5232973098755,"wires":[["d3ae8582.44e278","bbbc92e7.3802d"]]},{"id":"d3ae8582.44e278","type":"debug","z":"9bbe9acb.5cfe78","name":"incoming data","active":false,"console":"false","complete":"payload","x":419.1675605773926,"y":1338.1240119934082,"wires":[]},{"id":"bbbc92e7.3802d","type":"json","z":"9bbe9acb.5cfe78","name":"Format 2 json","pretty":true,"x":421.1606140136719,"y":1411.773323059082,"wires":[["1c128a98.6a8a95","5a9ce1fc.465c"]]},{"id":"1c128a98.6a8a95","type":"debug","z":"9bbe9acb.5cfe78","name":"JSON format","active":false,"console":"false","complete":"payload","x":611.1490135192871,"y":1411.7829785346985,"wires":[]},{"id":"5a9ce1fc.465c","type":"function","z":"9bbe9acb.5cfe78","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomIlumination\";\n\nreturn res;","outputs":1,"noerr":0,"x":610.0456195407444,"y":1477.789905336168,"wires":[["93adc71b.0688e8","b0e72de0.2d2db"]]},{"id":"72c96d86.1b0814","type":"inject","z":"9bbe9acb.5cfe78","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":205.60118865966797,"y":1567.4195384979248,"wires":[["d3df1875.858848","cf7eed15.05a1f"]]},{"id":"d3df1875.858848","type":"debug","z":"9bbe9acb.5cfe78","name":"before format","active":false,"console":"false","complete":"payload","x":408.9306335449219,"y":1502.026032447815,"wires":[]},{"id":"cf7eed15.05a1f","type":"function","z":"9bbe9acb.5cfe78","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":416.70842064751514,"y":1568.8971678415935,"wires":[["d27ad3c4.97e04","93adc71b.0688e8"]]},{"id":"d27ad3c4.97e04","type":"debug","z":"9bbe9acb.5cfe78","name":"after format","active":false,"console":"false","complete":"payload","x":605.6011810302734,"y":1637.5893049240112,"wires":[]},{"id":"93adc71b.0688e8","type":"function","z":"9bbe9acb.5cfe78","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomIlumination\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":828.9268646240234,"y":1569.0090599060059,"wires":[["b262629a.f5378","1dcbbf93.98c9b","207f1a74.37c5d6"]]},{"id":"b0e72de0.2d2db","type":"debug","z":"9bbe9acb.5cfe78","name":"after topic","active":false,"console":"false","complete":"payload","x":811.1529541015625,"y":1478.2027225494385,"wires":[]},{"id":"b262629a.f5378","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save Isec","collection":"iluminationsecs","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1026.0950202941895,"y":1503.8547668457031,"wires":[]},{"id":"1dcbbf93.98c9b","type":"debug","z":"9bbe9acb.5cfe78","name":"after merge","active":false,"console":"false","complete":"payload","x":1047.9308433532715,"y":1580.0755290985107,"wires":[]},{"id":"207f1a74.37c5d6","type":"link out","z":"9bbe9acb.5cfe78","name":"Ilumination","links":["1b238993.1c8be6"],"x":974.478551864624,"y":1625.1047248840332,"wires":[]},{"id":"79ffcb94.f28974","type":"inject","z":"9bbe9acb.5cfe78","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"120","crontab":"","once":false,"x":200.13487582736548,"y":1935.6539223988852,"wires":[["a5b392aa.6cfb","1f897815.e60b48"]]},{"id":"a5b392aa.6cfb","type":"function","z":"9bbe9acb.5cfe78","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 120;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*120*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":438.34168582492407,"y":1922.8806842168174,"wires":[["cf6ff1c5.5422c","a19467c6.7b3288"]]},{"id":"1f897815.e60b48","type":"debug","z":"9bbe9acb.5cfe78","name":"boolean signal","active":false,"console":"false","complete":"payload","x":438.34939151340063,"y":1975.1607468922934,"wires":[]},{"id":"cf6ff1c5.5422c","type":"debug","z":"9bbe9acb.5cfe78","name":"query signal","active":false,"console":"false","complete":"payload","x":667.2306018405491,"y":1922.9346516927085,"wires":[]},{"id":"a19467c6.7b3288","type":"mongodb in","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Find Nsec","collection":"noicesecs","operation":"find","x":646.273799472385,"y":1985.4732840855918,"wires":[["7f8bb684.b24188","30af0952.9dbba6"]]},{"id":"7f8bb684.b24188","type":"debug","z":"9bbe9acb.5cfe78","name":"query result","active":false,"console":"false","complete":"payload","x":867.3734317355686,"y":1983.3668254216514,"wires":[]},{"id":"30af0952.9dbba6","type":"function","z":"9bbe9acb.5cfe78","name":"Processing Average","func":"var res = {};\nvar query = msg.payload;\nvar avgUnit = query[0].room.noice.unit;\nvar avgPlace = query[0].room.noice.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.noice.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres = {protime:new Date(Date.now()), sensor: \"Noise sensor\", data:avgTemp, unit:avgUnit};\nreturn res;","outputs":1,"noerr":0,"x":896.1310806274414,"y":1927.5874586105347,"wires":[["d5e2c280.91bf4","806e02d5.7f7a9","658128df.088948"]]},{"id":"658128df.088948","type":"debug","z":"9bbe9acb.5cfe78","name":"final result","active":false,"console":"false","complete":"payload","x":1126.9883761935764,"y":1931.4942525227866,"wires":[]},{"id":"806e02d5.7f7a9","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save Nmin","collection":"sensormins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1131.1272464328342,"y":1980.8127749760947,"wires":[]},{"id":"d5e2c280.91bf4","type":"link out","z":"9bbe9acb.5cfe78","name":"Mins noiceFlow","links":["258e94ce.1f7dcc"],"x":1076.9606471591526,"y":2032.7880462010703,"wires":[]},{"id":"7e0bce4e.58f62","type":"inject","z":"9bbe9acb.5cfe78","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":205.13487582736548,"y":2134.4039223988852,"wires":[["93ef1428.028e28","de2602b1.c9464"]]},{"id":"93ef1428.028e28","type":"function","z":"9bbe9acb.5cfe78","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 60;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*60*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":443.34168582492407,"y":2121.6306842168174,"wires":[["154a3597.13925a","e8e2945f.9bae58"]]},{"id":"de2602b1.c9464","type":"debug","z":"9bbe9acb.5cfe78","name":"boolean signal","active":false,"console":"false","complete":"payload","x":443.34939151340063,"y":2173.9107468922934,"wires":[]},{"id":"154a3597.13925a","type":"debug","z":"9bbe9acb.5cfe78","name":"query signal","active":false,"console":"false","complete":"payload","x":672.2306056552463,"y":2121.684713681539,"wires":[]},{"id":"e8e2945f.9bae58","type":"mongodb in","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Find Csec","collection":"carbonsecs","operation":"find","x":651.273799472385,"y":2184.223284085592,"wires":[["36e5cdc1.5aef82","b6fc6d54.b213d"]]},{"id":"36e5cdc1.5aef82","type":"debug","z":"9bbe9acb.5cfe78","name":"query result","active":false,"console":"false","complete":"payload","x":872.3734317355686,"y":2182.1168254216514,"wires":[]},{"id":"b6fc6d54.b213d","type":"function","z":"9bbe9acb.5cfe78","name":"Processing Average","func":"var res = {};\nvar query = msg.payload;\nvar avgUnit = query[0].room.carbonDioxide.unit;\nvar avgPlace = query[0].room.carbonDioxide.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.carbonDioxide.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\n\nres = {protime:new Date(Date.now()), sensor: \"Carbon monoxide sensor\", data:avgTemp, unit:avgUnit};\nreturn res;","outputs":1,"noerr":0,"x":901.1310806274414,"y":2126.3374586105347,"wires":[["5e384aef.995754","c95a2e32.d931","84c13419.1a3ff8"]]},{"id":"84c13419.1a3ff8","type":"debug","z":"9bbe9acb.5cfe78","name":"final result","active":false,"console":"false","complete":"payload","x":1125.9882922702366,"y":2127.2440780003867,"wires":[]},{"id":"c95a2e32.d931","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save Cmin","collection":"sensormins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1136.1272464328342,"y":2179.5627749760947,"wires":[]},{"id":"5e384aef.995754","type":"link out","z":"9bbe9acb.5cfe78","name":"Mins carbonFlow","links":["623049e3.232d18"],"x":1081.9606471591526,"y":2231.5380462010703,"wires":[]},{"id":"368b4d45.df3a02","type":"inject","z":"9bbe9acb.5cfe78","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"120","crontab":"","once":false,"x":193.88487582736548,"y":2336.9039223988852,"wires":[["f320d494.b7ee48","e9fe6fb1.44603"]]},{"id":"f320d494.b7ee48","type":"function","z":"9bbe9acb.5cfe78","name":"Create Query","func":"var res = {};\nres.skip = 0;\nres.limit = 120;\nvar signal = msg.payload;\n\nvar maxtime = new Date(Date.now() - 1*120*1000).toISOString();\nvar query = {'room.sensetime':{$gte: maxtime}};\n\nif(signal === true){\n      res.payload = query;\n      res.topic = \"mongoQuery\";\n      return res;\n  }","outputs":1,"noerr":0,"x":432.09168582492407,"y":2324.1306842168174,"wires":[["65eb65e.4f5cc9c","931bbb33.28ce58"]]},{"id":"e9fe6fb1.44603","type":"debug","z":"9bbe9acb.5cfe78","name":"boolean signal","active":true,"console":"false","complete":"payload","x":432.09939151340063,"y":2376.4107468922934,"wires":[]},{"id":"65eb65e.4f5cc9c","type":"debug","z":"9bbe9acb.5cfe78","name":"query signal","active":true,"console":"false","complete":"payload","x":660.9806056552463,"y":2324.184713681539,"wires":[]},{"id":"931bbb33.28ce58","type":"mongodb in","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Find Isec","collection":"iluminationsecs","operation":"find","x":640.023799472385,"y":2386.723284085592,"wires":[["1ef68324.11c92d","7b1a6822.5796a8"]]},{"id":"1ef68324.11c92d","type":"debug","z":"9bbe9acb.5cfe78","name":"query result","active":false,"console":"false","complete":"payload","x":861.1234317355686,"y":2384.6168254216514,"wires":[]},{"id":"7b1a6822.5796a8","type":"function","z":"9bbe9acb.5cfe78","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.ilumination.unit;\nvar avgPlace = query[0].room.ilumination.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.ilumination.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\n\nres = {protime:new Date(Date.now()), sensor: \"Ilumination sensor\", data:avgTemp, unit:avgUnit};\nreturn res;","outputs":1,"noerr":0,"x":889.8810806274414,"y":2328.8374586105347,"wires":[["12e5b3e4.8fedcc","7eaddef8.23651","76ea73c0.d1be6c"]]},{"id":"76ea73c0.d1be6c","type":"debug","z":"9bbe9acb.5cfe78","name":"final result","active":false,"console":"false","complete":"payload","x":1124.7383456759983,"y":2326.7440207799277,"wires":[]},{"id":"7eaddef8.23651","type":"mongodb out","z":"9bbe9acb.5cfe78","mongodb":"f7aab59.62d8a48","name":"Save Imin","collection":"sensormins","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1114.8772464328342,"y":2382.0627749760947,"wires":[]},{"id":"12e5b3e4.8fedcc","type":"link out","z":"9bbe9acb.5cfe78","name":"Mins ilumFlow","links":["7617c049.84e31"],"x":1074.710753970676,"y":2434.0379737218223,"wires":[]},{"id":"f7aab59.62d8a48","type":"mongodb","z":"","hostname":"ds149144.mlab.com","port":"49144","db":"mina_samaca_g4","name":"prueba"}]