NodeRed/Processing-flow.json
[{"id":"98d7f930.738668","type":"tab","label":"Processing Flow","disabled":false,"info":""},{"id":"e7a72f64.c3fb4","type":"udp in","z":"98d7f930.738668","name":"UDP incoming","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":90,"y":160,"wires":[["435b3b4.b0f15c4","99bebd7c.c4e7f"]]},{"id":"435b3b4.b0f15c4","type":"debug","z":"98d7f930.738668","name":"incoming data","active":false,"console":"false","complete":"payload","x":300,"y":100,"wires":[]},{"id":"99bebd7c.c4e7f","type":"json","z":"98d7f930.738668","name":"Format 2 JSON","pretty":true,"x":300,"y":160,"wires":[["c858148a.86abe8","e73e8102.f957c"]]},{"id":"c858148a.86abe8","type":"debug","z":"98d7f930.738668","name":"JSON format","active":false,"console":"false","complete":"payload","x":501.10003662109375,"y":159.60000610351562,"wires":[]},{"id":"e73e8102.f957c","type":"function","z":"98d7f930.738668","name":"Add Topic","func":"var res = {};\n\nres.payload = msg.payload;\nres.topic = \"roomTemperature\";\n\nreturn res;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["13aa1720.d19c09","12b50858.961218"]]},{"id":"13aa1720.d19c09","type":"debug","z":"98d7f930.738668","name":"after topic","active":false,"console":"false","complete":"payload","x":700,"y":220,"wires":[]},{"id":"12b50858.961218","type":"function","z":"98d7f930.738668","name":"Merge 2 Msgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["db1b75f9.d77be8","9326cbf8.98d818","3202e416.23222c"]]},{"id":"bc8abc82.de282","type":"inject","z":"98d7f930.738668","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":100,"y":260,"wires":[["73d74a7.1a56bb4","f626daf2.afd798"]]},{"id":"73d74a7.1a56bb4","type":"function","z":"98d7f930.738668","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["12b50858.961218","d6fd6e86.346ab"]]},{"id":"f626daf2.afd798","type":"debug","z":"98d7f930.738668","name":"before format","active":false,"console":"false","complete":"payload","x":290,"y":220,"wires":[]},{"id":"d6fd6e86.346ab","type":"debug","z":"98d7f930.738668","name":"after format","active":false,"console":"false","complete":"payload","x":470,"y":320,"wires":[]},{"id":"db1b75f9.d77be8","type":"mongodb out","z":"98d7f930.738668","mongodb":"38f64a.bcfef9b6","name":"Save Tpsec","collection":"temperaturespec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":930,"y":200,"wires":[]},{"id":"9326cbf8.98d818","type":"debug","z":"98d7f930.738668","name":"after merge","active":false,"console":"false","complete":"payload","x":930,"y":260,"wires":[]},{"id":"3202e416.23222c","type":"link out","z":"98d7f930.738668","name":"Secs","links":["4e0bf116.6e726"],"x":895,"y":300,"wires":[]},{"id":"33d6600.0bc8ca","type":"inject","z":"98d7f930.738668","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":115.10000610351562,"y":426.8000183105469,"wires":[["b238c953.4a1738","39b3c4b3.54056c"]]},{"id":"b238c953.4a1738","type":"function","z":"98d7f930.738668","name":"Create Query","func":"  var res = {};\n  res.skip = 0;\n  res.limit = 60;\n  var signal = msg.payload;\n\n  var maxtime = new Date(Date.now() - 1*60*1000).toISOString();\n  var query = {'room.sensetime':{$gte: maxtime}};\n\n  if(signal === true){\n\n      res.payload = query;\n      res.topic = \"mongoQuery\"\n      return res;\n  }","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["7c34e427.616bcc","ede1712b.6017e"]]},{"id":"39b3c4b3.54056c","type":"debug","z":"98d7f930.738668","name":"boolean signal","active":false,"console":"false","complete":"payload","x":320,"y":480,"wires":[]},{"id":"7c34e427.616bcc","type":"debug","z":"98d7f930.738668","name":"query signal","active":false,"console":"false","complete":"true","x":550,"y":420,"wires":[]},{"id":"9e776903.ef8708","type":"function","z":"98d7f930.738668","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime).getTime();\n}\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;","outputs":1,"noerr":0,"x":820,"y":400,"wires":[["1cf44574.87086b","59e449d9.e886c8","127cc624.c01bda"]]},{"id":"ede1712b.6017e","type":"mongodb in","z":"98d7f930.738668","mongodb":"38f64a.bcfef9b6","name":"Find Tpmin","collection":"temperaturespec","operation":"find","x":530,"y":460,"wires":[["9e776903.ef8708","c30eb737.353d68"]]},{"id":"c30eb737.353d68","type":"debug","z":"98d7f930.738668","name":"query result","active":false,"console":"false","complete":"payload","x":805.1000366210938,"y":475.60003662109375,"wires":[]},{"id":"1cf44574.87086b","type":"debug","z":"98d7f930.738668","name":"final result","active":false,"console":"false","complete":"payload","x":1090,"y":420,"wires":[]},{"id":"59e449d9.e886c8","type":"mongodb out","z":"98d7f930.738668","mongodb":"38f64a.bcfef9b6","name":"Save Tpmin","collection":"temperaturesmin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1090,"y":460,"wires":[]},{"id":"127cc624.c01bda","type":"link out","z":"98d7f930.738668","name":"Mins","links":["d937eac1.f40e88"],"x":1055,"y":520,"wires":[]},{"id":"38f64a.bcfef9b6","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""}]