NodeRed/Telemetry-flow.json
[{"id":"8c49f4b8.b865b8","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"4733db65.5e6854","type":"serial in","z":"8c49f4b8.b865b8","name":"Temperature Sensor","serial":"e3c43fc6.a1816","x":158,"y":131.0000057220459,"wires":[["43938f3e.8f904","f1641d92.dc02"]]},{"id":"15214c6.d8bacb4","type":"inject","z":"8c49f4b8.b865b8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":173,"y":248,"wires":[["2cb3c4a7.48df9c","4e309955.c1bc08"]]},{"id":"f1641d92.dc02","type":"function","z":"8c49f4b8.b865b8","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[0]), \"unit\": tempUnit, \"MicrocontroladorNum\": parseInt(tempArray[9]), \"Area\" : parseInt(tempArray[11]), \"Nivel\" : parseInt(tempArray[13])}\n\nreturn res;","outputs":1,"noerr":0,"x":449,"y":144,"wires":[["74577b4a.e34764","91c53252.6abcd"]]},{"id":"4e309955.c1bc08","type":"function","z":"8c49f4b8.b865b8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":422,"y":247,"wires":[["582e7173.31afb","91c53252.6abcd"]]},{"id":"2cb3c4a7.48df9c","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":415,"y":196,"wires":[]},{"id":"43938f3e.8f904","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":422,"y":91,"wires":[]},{"id":"74577b4a.e34764","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":693,"y":178,"wires":[]},{"id":"582e7173.31afb","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":689,"y":280,"wires":[]},{"id":"91c53252.6abcd","type":"function","z":"8c49f4b8.b865b8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":697,"y":231,"wires":[["a453c8e6.eefd58","685896c8.5f6908"]]},{"id":"a453c8e6.eefd58","type":"udp out","z":"8c49f4b8.b865b8","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":944.0000915527344,"y":190.0000228881836,"wires":[]},{"id":"685896c8.5f6908","type":"debug","z":"8c49f4b8.b865b8","name":"after Merge","active":false,"console":"false","complete":"payload","x":911,"y":280,"wires":[]},{"id":"ac4ebfc4.c6c71","type":"serial in","z":"8c49f4b8.b865b8","name":"Noice Sensor","serial":"e3c43fc6.a1816","x":132.5078125,"y":434.5234375,"wires":[["5c2f2cd1.bb8534","46516fcf.99639"]]},{"id":"1c385dcd.fe5212","type":"inject","z":"8c49f4b8.b865b8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":166.5078125,"y":539.5234375,"wires":[["f63b78ac.341528","2330edfb.dba272"]]},{"id":"46516fcf.99639","type":"function","z":"8c49f4b8.b865b8","name":"Format Noice","func":"var res = {};\nvar tempArray = [];\nvar noiceUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nnoiceUnit = tempArray[3].replace(\"\\r\\n\", \"\");\nres.topic = \"roomNoice\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[2]), \"unit\": noiceUnit,\"MicrocontroladorNum\": parseInt(tempArray[9]), \"Area\" : parseInt(tempArray[11]), \"Nivel\" : parseInt(tempArray[13])}\n\nreturn res;","outputs":1,"noerr":0,"x":422.5078125,"y":435.5234375,"wires":[["8a3ef18e.e8971","fe0a8aa5.c9d0c8"]]},{"id":"2330edfb.dba272","type":"function","z":"8c49f4b8.b865b8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":415.5078125,"y":538.5234375,"wires":[["e154d155.7c1a4","fe0a8aa5.c9d0c8"]]},{"id":"f63b78ac.341528","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":408.5078125,"y":487.5234375,"wires":[]},{"id":"5c2f2cd1.bb8534","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":415.5078125,"y":382.5234375,"wires":[]},{"id":"8a3ef18e.e8971","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":686.5078125,"y":469.5234375,"wires":[]},{"id":"e154d155.7c1a4","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":682.5078125,"y":571.5234375,"wires":[]},{"id":"fe0a8aa5.c9d0c8","type":"function","z":"8c49f4b8.b865b8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoice\":\n        context.data.noice = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.noice != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomNoice\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":690.5078125,"y":522.5234375,"wires":[["4c53bd98.8f7974","18717f74.c60e11"]]},{"id":"4c53bd98.8f7974","type":"udp out","z":"8c49f4b8.b865b8","name":"Send Noice","addr":"localhost","iface":"","port":"6001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":904.5078125,"y":505.5234375,"wires":[]},{"id":"18717f74.c60e11","type":"debug","z":"8c49f4b8.b865b8","name":"after Merge","active":false,"console":"false","complete":"payload","x":904.5078125,"y":571.5234375,"wires":[]},{"id":"ab2ff4cb.ed06f8","type":"serial in","z":"8c49f4b8.b865b8","name":"Carbon dioxide Sensor","serial":"e3c43fc6.a1816","x":183.5078125,"y":754.5234375,"wires":[["f13c36ab.e589e8","f79a2b38.2d75a8"]]},{"id":"273bab7c.ae7614","type":"inject","z":"8c49f4b8.b865b8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":187.5078125,"y":859.5234375,"wires":[["956e3488.da7688","d3bf4406.dc14f8"]]},{"id":"f79a2b38.2d75a8","type":"function","z":"8c49f4b8.b865b8","name":"Format carbon dioxide","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ndioxideUnit = tempArray[5].replace(\"\\r\\n\", \"\");\nres.topic = \"roomCarbonDioxide\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[4]), \"unit\": dioxideUnit, \"MicrocontroladorNum\": parseInt(tempArray[9]), \"Area\" : parseInt(tempArray[11]), \"Nivel\" : parseInt(tempArray[13])}\n\nreturn res;","outputs":1,"noerr":0,"x":463.5078125,"y":755.5234375,"wires":[["3f52be48.6e0692","3831c7a.d5e0438"]]},{"id":"d3bf4406.dc14f8","type":"function","z":"8c49f4b8.b865b8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":436.5078125,"y":858.5234375,"wires":[["86033c8e.aa631","3831c7a.d5e0438"]]},{"id":"956e3488.da7688","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":429.5078125,"y":807.5234375,"wires":[]},{"id":"f13c36ab.e589e8","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":436.5078125,"y":702.5234375,"wires":[]},{"id":"3f52be48.6e0692","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":707.5078125,"y":789.5234375,"wires":[]},{"id":"86033c8e.aa631","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":703.5078125,"y":891.5234375,"wires":[]},{"id":"3831c7a.d5e0438","type":"function","z":"8c49f4b8.b865b8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomCarbonDioxide\":\n        context.data.carbonDioxide = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.carbonDioxide != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomCarbonDioxide\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":711.5078125,"y":842.5234375,"wires":[["1b5e9ed1.4cd321","949602f6.27c3a"]]},{"id":"1b5e9ed1.4cd321","type":"udp out","z":"8c49f4b8.b865b8","name":"Send Carbon Dioxide","addr":"localhost","iface":"","port":"6002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":955.5078125,"y":825.5234375,"wires":[]},{"id":"949602f6.27c3a","type":"debug","z":"8c49f4b8.b865b8","name":"after Merge","active":false,"console":"false","complete":"payload","x":925.5078125,"y":891.5234375,"wires":[]},{"id":"dc70553b.d13618","type":"serial in","z":"8c49f4b8.b865b8","name":"Ilumination Sensor","serial":"e3c43fc6.a1816","x":206.5078125,"y":1091.5234375,"wires":[["61925d9f.a42da4","f53b4b8e.290be8"]]},{"id":"16b24884.0d22a7","type":"inject","z":"8c49f4b8.b865b8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":220.5078125,"y":1196.5234375,"wires":[["fbd76a40.18dde8","cb343ff6.5ccf7"]]},{"id":"f53b4b8e.290be8","type":"function","z":"8c49f4b8.b865b8","name":"Format Ilumination","func":"var res = {};\nvar tempArray = [];\nvar iluminationUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\niluminationUnit = tempArray[7].replace(\"\\r\\n\", \"\");\nres.topic = \"roomIlumination\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[6]), \"unit\": iluminationUnit, \"MicrocontroladorNum\": parseInt(tempArray[9]), \"Area\" : parseInt(tempArray[11]), \"Nivel\" : parseInt(tempArray[13])}\n\nreturn res;","outputs":1,"noerr":0,"x":486.5078125,"y":1092.5234375,"wires":[["8522b23b.e5658","fbf7be12.85b"]]},{"id":"cb343ff6.5ccf7","type":"function","z":"8c49f4b8.b865b8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":469.5078125,"y":1195.5234375,"wires":[["775d6f61.222f6","fbf7be12.85b"]]},{"id":"fbd76a40.18dde8","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":462.5078125,"y":1144.5234375,"wires":[]},{"id":"61925d9f.a42da4","type":"debug","z":"8c49f4b8.b865b8","name":"before format","active":false,"console":"false","complete":"payload","x":469.5078125,"y":1039.5234375,"wires":[]},{"id":"8522b23b.e5658","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":740.5078125,"y":1126.5234375,"wires":[]},{"id":"775d6f61.222f6","type":"debug","z":"8c49f4b8.b865b8","name":"after Format","active":false,"console":"false","complete":"payload","x":736.5078125,"y":1228.5234375,"wires":[]},{"id":"fbf7be12.85b","type":"function","z":"8c49f4b8.b865b8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.ilumination = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.ilumination != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomIlumination\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":744.5078125,"y":1179.5234375,"wires":[["27dac952.86d0f6","1553bada.75b655"]]},{"id":"27dac952.86d0f6","type":"udp out","z":"8c49f4b8.b865b8","name":"Send Ilumination","addr":"localhost","iface":"","port":"6003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":978.5078125,"y":1162.5234375,"wires":[]},{"id":"1553bada.75b655","type":"debug","z":"8c49f4b8.b865b8","name":"after Merge","active":false,"console":"false","complete":"payload","x":958.5078125,"y":1228.5234375,"wires":[]},{"id":"e3c43fc6.a1816","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]