NodeRed/Telemetry-flow.json
[{"id":"16148811.8979c8","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"a706e87f.2f3ee8","type":"serial in","z":"16148811.8979c8","name":"Temperature Sensor","serial":"1df16924.c31ff7","x":158,"y":131.0000057220459,"wires":[["9ab820b3.9b446","c234fe05.a223b"]]},{"id":"68594c8d.2f4374","type":"inject","z":"16148811.8979c8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":173,"y":248,"wires":[["343e796d.68b1d6","51da2610.b67468"]]},{"id":"c234fe05.a223b","type":"function","z":"16148811.8979c8","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[0]), \"unit\": tempUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":449,"y":144,"wires":[["1b5e5094.bb3e9f","582ff300.faf42c"]]},{"id":"51da2610.b67468","type":"function","z":"16148811.8979c8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":422,"y":247,"wires":[["f95e6f13.2348f","582ff300.faf42c"]]},{"id":"343e796d.68b1d6","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":415,"y":196,"wires":[]},{"id":"9ab820b3.9b446","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":422,"y":91,"wires":[]},{"id":"1b5e5094.bb3e9f","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":693,"y":178,"wires":[]},{"id":"f95e6f13.2348f","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":689,"y":280,"wires":[]},{"id":"582ff300.faf42c","type":"function","z":"16148811.8979c8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":697,"y":231,"wires":[["93370d6b.0d46","6e47b823.8ed278"]]},{"id":"93370d6b.0d46","type":"udp out","z":"16148811.8979c8","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":935.0000534057617,"y":196.0000114440918,"wires":[]},{"id":"6e47b823.8ed278","type":"debug","z":"16148811.8979c8","name":"after Merge","active":false,"console":"false","complete":"payload","x":911,"y":280,"wires":[]},{"id":"139aa600.69bd2a","type":"serial in","z":"16148811.8979c8","name":"Noice Sensor","serial":"1df16924.c31ff7","x":132.5078125,"y":434.5234375,"wires":[["fa70b905.c84878","d95a533a.bd24b"]]},{"id":"4d992f56.92495","type":"inject","z":"16148811.8979c8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":166.5078125,"y":539.5234375,"wires":[["79316143.9d3f7","fa124d1b.d3d2e"]]},{"id":"d95a533a.bd24b","type":"function","z":"16148811.8979c8","name":"Format Noice","func":"var res = {};\nvar tempArray = [];\nvar noiceUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nnoiceUnit = tempArray[3].replace(\"\\r\\n\", \"\");\nres.topic = \"roomNoice\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[2]), \"unit\": noiceUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":422.5078125,"y":435.5234375,"wires":[["f7c86d11.ff767","1d867768.698819"]]},{"id":"fa124d1b.d3d2e","type":"function","z":"16148811.8979c8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":415.5078125,"y":538.5234375,"wires":[["71d2332d.fff7dc","1d867768.698819"]]},{"id":"79316143.9d3f7","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":408.5078125,"y":487.5234375,"wires":[]},{"id":"fa70b905.c84878","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":415.5078125,"y":382.5234375,"wires":[]},{"id":"f7c86d11.ff767","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":686.5078125,"y":469.5234375,"wires":[]},{"id":"71d2332d.fff7dc","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":682.5078125,"y":571.5234375,"wires":[]},{"id":"1d867768.698819","type":"function","z":"16148811.8979c8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoice\":\n        context.data.noice = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.noice != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomNoice\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":690.5078125,"y":522.5234375,"wires":[["9c999ea0.87e8a","aff7ea22.e29ca8"]]},{"id":"9c999ea0.87e8a","type":"udp out","z":"16148811.8979c8","name":"Send Noice","addr":"localhost","iface":"","port":"6001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":904.5078125,"y":505.5234375,"wires":[]},{"id":"aff7ea22.e29ca8","type":"debug","z":"16148811.8979c8","name":"after Merge","active":false,"console":"false","complete":"payload","x":904.5078125,"y":571.5234375,"wires":[]},{"id":"ce4d0251.5f425","type":"serial in","z":"16148811.8979c8","name":"Carbon dioxide Sensor","serial":"1df16924.c31ff7","x":183.5078125,"y":754.5234375,"wires":[["341ce4ab.67accc","52df01aa.bfe98"]]},{"id":"48c59602.b74198","type":"inject","z":"16148811.8979c8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":187.5078125,"y":859.5234375,"wires":[["e4ca11da.ccfda","67846ab9.d95f94"]]},{"id":"52df01aa.bfe98","type":"function","z":"16148811.8979c8","name":"Format carbon dioxide","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ndioxideUnit = tempArray[5].replace(\"\\r\\n\", \"\");\nres.topic = \"roomCarbonDioxide\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[4]), \"unit\": dioxideUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":463.5078125,"y":755.5234375,"wires":[["8273f2df.48cdb","773c7ba2.e20454"]]},{"id":"67846ab9.d95f94","type":"function","z":"16148811.8979c8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":436.5078125,"y":858.5234375,"wires":[["295f7a48.c0cbb6","773c7ba2.e20454"]]},{"id":"e4ca11da.ccfda","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":429.5078125,"y":807.5234375,"wires":[]},{"id":"341ce4ab.67accc","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":436.5078125,"y":702.5234375,"wires":[]},{"id":"8273f2df.48cdb","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":707.5078125,"y":789.5234375,"wires":[]},{"id":"295f7a48.c0cbb6","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":703.5078125,"y":891.5234375,"wires":[]},{"id":"773c7ba2.e20454","type":"function","z":"16148811.8979c8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomCarbonDioxide\":\n        context.data.carbonDioxide = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.carbonDioxide != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomCarbonDioxide\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":711.5078125,"y":842.5234375,"wires":[["ee47b6b4.020818","6152519.2c24eb"]]},{"id":"ee47b6b4.020818","type":"udp out","z":"16148811.8979c8","name":"Send Carbon Dioxide","addr":"localhost","iface":"","port":"6002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":955.5078125,"y":825.5234375,"wires":[]},{"id":"6152519.2c24eb","type":"debug","z":"16148811.8979c8","name":"after Merge","active":false,"console":"false","complete":"payload","x":925.5078125,"y":891.5234375,"wires":[]},{"id":"ef8aae2d.98853","type":"serial in","z":"16148811.8979c8","name":"Ilumination Sensor","serial":"1df16924.c31ff7","x":206.5078125,"y":1091.5234375,"wires":[["ddd18afb.a997e8","ae802151.6872c"]]},{"id":"b6170998.c315a8","type":"inject","z":"16148811.8979c8","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":220.5078125,"y":1196.5234375,"wires":[["13139098.a14b4f","e03e1d9.4a5a6e"]]},{"id":"ae802151.6872c","type":"function","z":"16148811.8979c8","name":"Format Ilumination","func":"var res = {};\nvar tempArray = [];\nvar iluminationUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\niluminationUnit = tempArray[7].replace(\"\\r\\n\", \"\");\nres.topic = \"roomIlumination\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[6]), \"unit\": iluminationUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":486.5078125,"y":1092.5234375,"wires":[["1be364ec.f9906b","add687a4.f94218"]]},{"id":"e03e1d9.4a5a6e","type":"function","z":"16148811.8979c8","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":469.5078125,"y":1195.5234375,"wires":[["df00bd50.0d30d","add687a4.f94218"]]},{"id":"13139098.a14b4f","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":462.5078125,"y":1144.5234375,"wires":[]},{"id":"ddd18afb.a997e8","type":"debug","z":"16148811.8979c8","name":"before format","active":false,"console":"false","complete":"payload","x":469.5078125,"y":1039.5234375,"wires":[]},{"id":"1be364ec.f9906b","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":740.5078125,"y":1126.5234375,"wires":[]},{"id":"df00bd50.0d30d","type":"debug","z":"16148811.8979c8","name":"after Format","active":false,"console":"false","complete":"payload","x":736.5078125,"y":1228.5234375,"wires":[]},{"id":"add687a4.f94218","type":"function","z":"16148811.8979c8","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.ilumination = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.ilumination != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomIlumination\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":744.5078125,"y":1179.5234375,"wires":[["533cf304.0dda9c","db102299.84992"]]},{"id":"533cf304.0dda9c","type":"udp out","z":"16148811.8979c8","name":"Send Ilumination","addr":"localhost","iface":"","port":"6003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":978.5078125,"y":1162.5234375,"wires":[]},{"id":"db102299.84992","type":"debug","z":"16148811.8979c8","name":"after Merge","active":false,"console":"false","complete":"payload","x":958.5078125,"y":1228.5234375,"wires":[]},{"id":"1df16924.c31ff7","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]