NodeRed/Telemetry-flow.json
[{"id":"c4ac5128.4bc28","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"e01d85b.c86c078","type":"serial in","z":"c4ac5128.4bc28","name":"Temperature Sensor","serial":"e3c43fc6.a1816","x":670,"y":280,"wires":[["1b13e5e2.7dedca","496e6161.96c93"]]},{"id":"5bc63f4.22979c","type":"inject","z":"c4ac5128.4bc28","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":860,"y":480,"wires":[["e21e0a2c.98ea28","d4550cde.bf87a"]]},{"id":"496e6161.96c93","type":"function","z":"c4ac5128.4bc28","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"valorMedida\": parseInt(tempArray[0]), \"unit\": tempUnit, \"idSensor\": parseInt(tempArray[9]) + \"-T\"}\n\nreturn res;","outputs":1,"noerr":0,"x":920,"y":340,"wires":[["aeac9194.d8eef","949888ea.886b38"]]},{"id":"d4550cde.bf87a","type":"function","z":"c4ac5128.4bc28","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[["bbd7755d.622838","949888ea.886b38"]]},{"id":"e21e0a2c.98ea28","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":false,"console":"false","complete":"payload","x":1050,"y":400,"wires":[]},{"id":"1b13e5e2.7dedca","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":false,"console":"false","complete":"payload","x":890,"y":200,"wires":[]},{"id":"aeac9194.d8eef","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1190,"y":300,"wires":[]},{"id":"bbd7755d.622838","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1390,"y":480,"wires":[]},{"id":"949888ea.886b38","type":"function","z":"c4ac5128.4bc28","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":1310,"y":380,"wires":[["c5079b9e.9ea0c8","5fcdd264.112acc"]]},{"id":"c5079b9e.9ea0c8","type":"udp out","z":"c4ac5128.4bc28","name":"Send Temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1590,"y":360,"wires":[]},{"id":"5fcdd264.112acc","type":"debug","z":"c4ac5128.4bc28","name":"after Merge","active":false,"console":"false","complete":"payload","x":1590,"y":440,"wires":[]},{"id":"a988e5e1.739668","type":"serial in","z":"c4ac5128.4bc28","name":"Noice Sensor","serial":"e3c43fc6.a1816","x":870,"y":580,"wires":[["feba02a6.28657","20f499f8.525646"]]},{"id":"c9f9e901.4e2cf8","type":"inject","z":"c4ac5128.4bc28","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":904,"y":685,"wires":[["7fa790e7.9df52","27ef3954.ae8de6"]]},{"id":"20f499f8.525646","type":"function","z":"c4ac5128.4bc28","name":"Format Noice","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nres.topic = \"roomNoice\";\nres.payload = {};\n\nres.payload = {\"valorMedida\": parseInt(tempArray[2]), \"idSensor\": parseInt(tempArray[9]) + \"-N\"}\n\nreturn res;","outputs":1,"noerr":0,"x":1160,"y":581,"wires":[["5298d65a.6e5778","d732d281.d8c1a"]]},{"id":"27ef3954.ae8de6","type":"function","z":"c4ac5128.4bc28","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":1150,"y":680,"wires":[["dc9186e8.1d8528","d732d281.d8c1a"]]},{"id":"7fa790e7.9df52","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":false,"console":"false","complete":"payload","x":1146,"y":633,"wires":[]},{"id":"feba02a6.28657","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":false,"console":"false","complete":"payload","x":1153,"y":528,"wires":[]},{"id":"5298d65a.6e5778","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1390,"y":560,"wires":[]},{"id":"dc9186e8.1d8528","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1410,"y":680,"wires":[]},{"id":"d732d281.d8c1a","type":"function","z":"c4ac5128.4bc28","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoice\":\n        context.data.noice = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.noice != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomNoice\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":1410,"y":620,"wires":[["930d2b04.1ea088","5c86f68.a35d208"]]},{"id":"930d2b04.1ea088","type":"udp out","z":"c4ac5128.4bc28","name":"Send Noice","addr":"localhost","iface":"","port":"6001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1630,"y":580,"wires":[]},{"id":"5c86f68.a35d208","type":"debug","z":"c4ac5128.4bc28","name":"after Merge","active":false,"console":"false","complete":"payload","x":1630,"y":640,"wires":[]},{"id":"127d4ac3.0d6ec5","type":"serial in","z":"c4ac5128.4bc28","name":"Carbon dioxide Sensor","serial":"e3c43fc6.a1816","x":895.5078125,"y":803.5234317779541,"wires":[["315030f6.e1194","258dd6ba.96d63a"]]},{"id":"8203fefb.b38a7","type":"inject","z":"c4ac5128.4bc28","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":899.5078125,"y":908.5234317779541,"wires":[["e71057a4.bf18b8","35277f70.a9cf7"]]},{"id":"258dd6ba.96d63a","type":"function","z":"c4ac5128.4bc28","name":"Format carbon dioxide","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nres.topic = \"roomCarbonDioxide\";\nres.payload = {};\n\nres.payload = {\"valorMedida\": parseInt(tempArray[4]), \"idSensor\": parseInt(tempArray[9]) + \"-G\"}\n\nreturn res;","outputs":1,"noerr":0,"x":1175.5078125,"y":804.5234317779541,"wires":[["297acebb.e13132","5c025e7c.1982b"]]},{"id":"35277f70.a9cf7","type":"function","z":"c4ac5128.4bc28","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":1148.5078125,"y":907.5234317779541,"wires":[["4342c18d.a9c8d","5c025e7c.1982b"]]},{"id":"e71057a4.bf18b8","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":false,"console":"false","complete":"payload","x":1141.5078125,"y":856.5234317779541,"wires":[]},{"id":"315030f6.e1194","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":false,"console":"false","complete":"payload","x":1148.5078125,"y":751.5234317779541,"wires":[]},{"id":"297acebb.e13132","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1410,"y":760,"wires":[]},{"id":"4342c18d.a9c8d","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1410,"y":880,"wires":[]},{"id":"5c025e7c.1982b","type":"function","z":"c4ac5128.4bc28","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomCarbonDioxide\":\n        context.data.carbonDioxide = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.carbonDioxide != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomCarbonDioxide\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":1410,"y":820,"wires":[["9ed92309.b2fb1","e8adf530.3da7d8"]]},{"id":"9ed92309.b2fb1","type":"udp out","z":"c4ac5128.4bc28","name":"Send Carbon Dioxide","addr":"localhost","iface":"","port":"6002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1640,"y":780,"wires":[]},{"id":"e8adf530.3da7d8","type":"debug","z":"c4ac5128.4bc28","name":"after Merge","active":false,"console":"false","complete":"payload","x":1610,"y":840,"wires":[]},{"id":"9d0798a4.d2e5c8","type":"serial in","z":"c4ac5128.4bc28","name":"Ilumination Sensor","serial":"e3c43fc6.a1816","x":770,"y":1140,"wires":[["b2f41e9b.c089b","c67e2b49.65ff98"]]},{"id":"4978a157.9a62b","type":"inject","z":"c4ac5128.4bc28","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":780,"y":1240,"wires":[["42fde159.68012","bbe6a57d.6b4618"]]},{"id":"c67e2b49.65ff98","type":"function","z":"c4ac5128.4bc28","name":"Format Ilumination","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\nres.topic = \"roomIlumination\";\nres.payload = {};\n\nres.payload = {\"valorMedida\": parseInt(tempArray[6]), \"idSensor\": parseInt(tempArray[9]) + \"-G\"}\n\nreturn res;","outputs":1,"noerr":0,"x":1030,"y":1140,"wires":[["b10cf07f.1391a","64b17ee0.9cf39"]]},{"id":"bbe6a57d.6b4618","type":"function","z":"c4ac5128.4bc28","name":"Format Time","func":"var res = {};\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":1030,"y":1240,"wires":[["866574ee.bb8248","64b17ee0.9cf39"]]},{"id":"42fde159.68012","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":false,"console":"false","complete":"payload","x":1010,"y":1180,"wires":[]},{"id":"b2f41e9b.c089b","type":"debug","z":"c4ac5128.4bc28","name":"before format","active":true,"console":"false","complete":"payload","x":990,"y":1040,"wires":[]},{"id":"b10cf07f.1391a","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1270,"y":1060,"wires":[]},{"id":"866574ee.bb8248","type":"debug","z":"c4ac5128.4bc28","name":"after Format","active":false,"console":"false","complete":"payload","x":1250,"y":1240,"wires":[]},{"id":"64b17ee0.9cf39","type":"function","z":"c4ac5128.4bc28","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.ilumination = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.ilumination != null) {\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomIlumination\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":1290,"y":1180,"wires":[["1d189a80.3c23d6","20f671ab.9c3dee"]]},{"id":"1d189a80.3c23d6","type":"udp out","z":"c4ac5128.4bc28","name":"Send Ilumination","addr":"localhost","iface":"","port":"6003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1530,"y":1140,"wires":[]},{"id":"20f671ab.9c3dee","type":"debug","z":"c4ac5128.4bc28","name":"after Merge","active":false,"console":"false","complete":"payload","x":1510,"y":1220,"wires":[]},{"id":"9c199eb6.694f8","type":"function","z":"c4ac5128.4bc28","name":"Generar datos","func":"var res = {};\n\n//Temperatura\ntemp = 0;\nvar str = temp + \"\\t\"+ \"C\" ;\n//Ruido\nnoice = 100;\nstr = str + \"\\t\" + noice +\"\\t\" + \"db\"; \n//Monoxido de carbono\ncarbon = 110;\nstr = str + \"\\t\" + carbon + \"\\t\" + \"ppm\";\n//Iluminacion\nilumination = 80;\nstr = str  + \"\\t\" + ilumination  + \"\\t\" + \"lux\";\n//Numero de microcontrolador\nstr = str  + \"\\t\" + \"Microcontrolador Num:\"  + \"\\t\" + 1;\n\nres.payload = str;\nreturn res;","outputs":1,"noerr":0,"x":420,"y":700,"wires":[["496e6161.96c93","20f499f8.525646","258dd6ba.96d63a","c67e2b49.65ff98","c578d66.ea65728"]]},{"id":"d373cbf4.a50ce8","type":"inject","z":"c4ac5128.4bc28","name":"","topic":"generar datos ts","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":160,"y":700,"wires":[["9c199eb6.694f8"]]},{"id":"c578d66.ea65728","type":"debug","z":"c4ac5128.4bc28","name":"","active":false,"console":"false","complete":"true","x":590,"y":860,"wires":[]},{"id":"e3c43fc6.a1816","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]